@import "../mixins.scss";

.announcement-info{
	@include tab-page;

	display: block;
	font-size: 14px;
	padding: 25px 0;

	.table-zone {
		width: 100%;

		table {
			@include table;

			tbody {
				tr {
					td {
						p {
							text-align: left;
						}
					}
				}
			}
		}
	}
}