@import "../mixins.scss";
.basic-info{
	@include tab-page;
	display: block;

	.wrapper{
		width: 100%;
		padding: 20px 30px;
		position: relative;
		box-sizing: border-box;

		.text{
			color: #333333;
			display: inline-block;
			width: 110px;
			position: relative;
			right: 5px;;
			text-indent: 37px;
		}

		.row1 {
			margin-top: 20px;
			.text{
				bottom: 12px;
			}
		}

		.row2 {
			margin-top: 20px;
			
			label{
				margin-right: 10px;
				color: #333;
			}

		}

		.row3 {
			margin-top: 20px;

			.birthday{
				border: 1px solid #AAAAAA;
				height: 30px;
				line-height: 30px;
				text-align: center;
			}
		}

		.row4{
			margin-top: 20px;

			.china-district {
				display: inline-block;

				select {
				    height: 30px;
				    margin-right: 10px;
				    font-size: 16px;
				}
			}
		}

		.row5{
			margin-top: 20px;
			.text{
				bottom: 50px;
			}
			textarea{
				border: 1px solid #AAAAAA;
				width: 500px;
				height: 100px;
			}
		}

		.row6{
			margin-top: 20px;
			margin-left: 100px;
		}


	}

}