@import "../mixins.scss";

.card-bind-content {
	@include dialog-frame;

	.dialog-wrapper {
		$gap     :     18px;

		@include dialog-wrapper(500px);
        z-index: 200;
        top: 50%;

		.dialog {
			@include dialog(500px, 500px);
			
			background-color: $purple1;
			color: $font-color1;
			font-size: 14px;

			.title {
				font-size: 16px;
			    height: 45px;
			    line-height: 45px;
			    border-bottom: 1px solid $border-color1;
			    text-align: center;
			}

			.row {
				width: 450px;
				position: relative;
				text-align: center;
				margin: 0 auto;
				margin-top: $gap;

				.button {
					@include button1;
					height: 40px;
					line-height: 40px;
					width: 150px;

					&:nth-child(2) {
						margin-left: 50px;
					}
				}

				&:nth-child(2) {
					margin-top: 25px;

					.select {
						.selet-down-icon {
							top: -2px;
						}
					}
				}

				&:nth-child(3) {
					border: 1px solid $border-color1;
					text-align: left;

					.select {
						border: 0;

						.selet-down-icon {
							top: -2px;
						}
					}

					span {
						margin-left: 30px;
					}
				}
			}
		}
	}
}