@import "../mixins.scss";

.footer {
	background-color: $theme-background-color;
	position: relative;
	height: $footerHeight;
	font-size: 14px;
	text-align: center;
	width: 100%;

	.wrapper {  	
		position: relative;
		width: $contentWidth;
		height: 100%;
		margin: 0 auto;
	}
}