@import "../mixins.scss";

.footer {
	background-color: $footer-background-color;
	position: relative;
	height: $footerHeight;
	font-size: 14px;
	text-align: center;
	margin-top: 20px;
	width: 100%;

	.wrapper { 
		position: relative;
		width: $contentWidth;
		height: 100%;
		margin: 0 auto;
		transition: width .5s;

		.footer-left {
			float: left;
			display: inline-block;
			height: 100%;
			font-size: 12px;
			text-align: left;

			.row1 {
				color: #9A9A9A;
				height: 30px;
				line-height: 30px;
				padding-left: 10px;

				ul {
					li {
						cursor: pointer;
						display: inline-block;
						height: 20px;
						line-height: 20px;

						span {
							padding: 0 15px;
							border-right: 1px solid #FFF;
						}

						&:hover {
							color: #DCAD4B;
						}

						&:last-child {
							span {
								border-right: none;
							}
						}
					}
				}
			}

			.row2 {
				height: 30px;
				line-height: 30px;
				padding-left: 20px;

				.span1 {
					color: #8F8F8F;
				}

				.span2 {
					color: #9A9A9A;
					margin-left: 10px;
				}
			}

			.row3 {
				height: 40px;
				line-height: 40px;
				padding-left: 20px;

				ul {
					height: 40px;
					line-height: 40px;
					overflow: hidden;

					li {
						display: inline-block;
						padding: 13px;

						img {
						    position: relative;
						    bottom: 9px;
						}

						.divider {
							background-color: #FFF;
							display: inline-block;
							height: 20px;
							width: 1px;
							position: relative;
							bottom: 5px;
						}

						&:first-child {
							padding-left: 0;

						    img {
						    	bottom: 7px;
						    }						
						}
					}
				}
			}
		}

		.footer-middle {
			position: absolute;
			left: 800px;
			width: 1px;
			background-color: #686868;
			height: 86px;
			top: 7px;
			transition: left .5s;
		}

		.footer-right {
			color: #9A9A9A;
			float: right;
			font-size: 12px;
			display: inline-block;
			text-align: left;
			height: 100%;

			.title {
			    height: 25px;
			    line-height: 25px;
			}

			.row1 {
				ul {
					li {
						cursor: pointer;
						display: inline-block;
    					margin-right: 25px;

						img {
							height: 15px;
							width: 15px;
							vertical-align: bottom;
							margin-right: 5px;
						}
					}
				}
			}

			.row2 {
				margin-top: 8px;

				.resolution {
					img {
						height: 15px;
						width: 15px;
    					vertical-align: bottom;
					}

					span {
						display: inline-block;
						margin-left: 15px;
					}
				}
			}
		}
	}
}

.fix-bottom {
	position: absolute;
	bottom: 0;
}

@media screen and (min-width: 0px) and (max-width: 1300px) {
	.footer {
		.wrapper {
			width: 1000px;

			.footer-middle {
				left: 650px;
			}
		}
	}
}