.header2 {
	min-height: 0px;
	height: 30px;

	.navbar-text {
		font-size: 12px;
	    margin-top: 5px;
	    margin-bottom: 5px;
	    margin-left: 5px;
	}

	.navbar-nav>li>a {
		font-size: 12px;
	    padding-top: 4px;
	    padding-bottom: 5px;
	}

	.switch {
		top: 4px;
		float: right;
		margin-left: 5px;
	}

	.message {
		position: relative;

		.message-img {
			color: #9d9d9d;
		    position: relative;
		    right: 7px;
		    top: 5px;
		}

		.dot {
			$dotSize: 12px;

			background-color: #F00;
			border: 0;
			border-radius: 50%;
			color: #FFF;
			display: inline-block;
			font-size: 10px;
			height: $dotSize;
			width: $dotSize;
			line-height: $dotSize;
			position: absolute;
			top: 3px;
			right: 1px;
		}
	}

	.grzx {
		margin-right: 5px;
	}
}

@media screen and (min-width: 0px) and (max-width: 997px) {
	.header {
		width: 997px;
	}

	.container {
		width: 997px;
	}
}
