@import "../mixins.scss";

$headerRow1Height: 30px;
$headerRow2Height: $headerHeight - $headerRow1Height;

.header {
	background-color: $theme-background-color;
	position: absolute;
	top: 0;
	left: 0;
	height: $headerHeight;
	font-size: 12px;
	text-align: center;
	width: 100%;

	.wrapper {
		background-color: #201F1D;
		position: relative;
		height: 100%;
		width: $contentWidth;
		margin: 0 auto;

		.row1 {
			background-color: #201F1D;
			color: #FFF;
			height: $headerRow1Height;
			line-height: $headerRow1Height;

			.language {
				display: inline-block;
				float: right;
				padding: 0 10px;
				width: 30px;
			}

			.top-item {
				border-right: 1px solid #2E2D25;
				display: inline-block;
				float: right;
				padding: 0 5px;
			}

			.money-actions {
				border-right: 1px solid #2E2D25;
				float: right;
				height: $headerRow1Height;
				line-height: $headerRow1Height;
				padding: 0 5px;

				.wrapper {
					background-color: #333333;
					display: inline-block;
					height: 24px;
					line-height: 24px;
					width: 110px;
				}

				.action {
					display: inline-block;

					span {
						border-right: 1px solid #2C2C2C;
						display: inline-block;
						padding: 0 5px;
					}

					&:last-child {
						margin-right: 0;
					}
				}
			}

			.balance {
				float: right;
				font-size: 12px;
				height: $headerRow1Height;
				line-height: $headerRow1Height;

				.balance-item {
					display: inline-block;
					padding: 0 5px;
				}

				.switch {
					vertical-align: middle;
				}
			}

			.grzx {
				float: right;
				height: $headerRow1Height;
				line-height: $headerRow1Height;

				.title {
					display: inline-block;
					margin-right: 5px;
				}

				.message {
					display: inline-block;
					height: $headerRow1Height;
					line-height: $headerRow1Height;
					position: relative;

					.message-img {
						width: 20px;
						height: 20px;
						vertical-align: middle;
						margin-bottom: 2px;
					}

					.dot {
						$dotSize: 12px;

						background-color: #F00;
						border: 0;
						border-radius: 50%;
						display: inline-block;
						font-size: 10px;
						height: $dotSize;
						width: $dotSize;
						line-height: $dotSize;
						position: absolute;
						left : 12px;
						top: 4px;
					}
				}
			}

			.time {
				display: inline-block;
				float: left;
				height: $headerRow1Height;
				line-height: $headerRow1Height;

				.time-zone {
					display: inline-block;
					color: #DCAD4B;
					margin-right: 5px;
				}

				.time-value {
					display: inline-block;
				}
			}
		}

		.row2 {
			background-color: #474539;
			height: $headerRow2Height;
			line-height: $headerRow2Height;
		}
	}
}