@import "../mixins.scss";

$headerRow1Height: 30px;
$headerRow2Height: $headerHeight - $headerRow1Height;

.header {
	background-color: $theme-background-color;
	position: absolute;
	top: 0;
	left: 0;
	height: $headerHeight;
	font-size: 12px;
	text-align: center;
	width: 100%;
	transition: top .5s;

	.wrapper {
		background-color: #201F1D;
		position: relative;
		height: 100%;
		width: $contentWidth;
		margin: 0 auto;
		transition: width .5s;

		.row1 {
			background-color: #000;
			color: #FFF;
			height: $headerRow1Height;
			line-height: $headerRow1Height;
			position: relative;
			z-index: 100;

			.language {
				cursor: pointer;
				display: inline-block;
				float: right;
				position: relative;
				padding: 0 10px;

				img {
					vertical-align: middle;
					display: inline-block;
					margin-right: 3px;
				}
			}

			.top-item {
				border-right: 1px solid #2E2D25;
				cursor: pointer;
				display: inline-block;
				float: right;
				padding: 0 5px;

				&:hover {
					color: #DCAD4B;
				}
			}

			.wdsc {
				position: relative;
			}

			.money-actions {
				border-radius: 4px;
				border-right: 1px solid #2E2D25;
				float: right;
				height: $headerRow1Height;
				line-height: $headerRow1Height;
				padding: 0 5px;

				.wrapper {
					background-color: #333333;
					border-radius: 2px;
					display: inline-block;
					height: 24px;
					line-height: 24px;
					width: 110px;
				}

				.action {
					cursor: pointer;
					display: inline-block;

					span {
						border-right: 1px solid #2C2C2C;
						display: inline-block;
						padding: 0 5px;
					}

					&:last-child {
						margin-right: 0;
					}

					&:hover {
						color: #DCAD4B;
					}
				}
			}

			.balance {
				float: right;
				font-size: 12px;
				height: $headerRow1Height;
				line-height: $headerRow1Height;

				.balance-item {
					display: inline-block;
					padding: 0 5px;
				}

				.switch {
					vertical-align: middle;
				}
			}

			.grzx {
				float: right;
				height: $headerRow1Height;
				line-height: $headerRow1Height;
				position: relative;
				margin-right: 10px;

				.title {
					cursor: pointer;
					display: inline-block;	
					margin-right: 5px;
				}

				.message {
					cursor: pointer;
					display: inline-block;
					height: $headerRow1Height;
					line-height: $headerRow1Height;
					position: relative;

					.message-img {
						vertical-align: middle;
						margin-bottom: 2px;
					}

					.dot {
						$dotSize: 12px;

						background-color: #F00;
						border: 0;
						border-radius: 50%;
						display: inline-block;
						font-size: 10px;
						height: $dotSize;
						width: $dotSize;
						line-height: $dotSize;
						position: absolute;
						left : 12px;
						top: 4px;
					}
				}
			}

			.time {
				display: inline-block;
				float: left;
				height: $headerRow1Height;
				line-height: $headerRow1Height;
				margin-left: 40px;

				.time-zone {
					display: inline-block;
					color: #DCAD4B;
					margin-right: 5px;
				}

				.time-value {
					display: inline-block;
				}
			}

			.menu {
				cursor: pointer;
				display: inline-block;
				float: left;
				width: 40px;

				img {
				    position: relative;
				    top: 4px;
				}
			}
		}

		.row2 {
			height: $headerRow2Height;
			line-height: $headerRow2Height;
			position: relative;
			z-index: 90;
			overflow: hidden;
			transition: all .3s;
			opacity: 1;
   			background: -webkit-linear-gradient(left, #000 0%, #48463A 50%, #000 110%);
    		background: -o-linear-gradient(left, #000 0%, #48463A 50%, #000 110%); 
    		background: -moz-linear-gradient(left, #000 0%, #48463A 50%, #000 110%); 
    		background: linear-gradient(left, #000 0%, #48463A 50%, #000 110%);

			.header-logo {
				float: left;
				height: 55px;
				width: 55px;
				margin-left: 40px;

				img {
					height: 45px;
					width: 55px;
					vertical-align: bottom;
				}
			}

			.buttons-zone {
				float: right;
				height: $headerRow2Height;
				line-height: $headerRow2Height;
			}

			.buttons-zone {
				float: right;
				display: inline-block;
				height: $headerRow2Height;
				line-height: $headerRow2Height;

				.header-button {
					border: 1px solid #DCAD4B;
					color: #FFF;
					cursor: pointer;
					display: inline-block;
					font-size: 12px;
					padding: 0 10px;
					height: 20px;
					line-height: 20px;
					text-align: center;
					vertical-align: middle;
					margin-right: 10px;

					&:hover {
						color: #DCAD4B;
					}
				}

				.lxkf-button {
					background-color: #DCAD4B;
					padding: 0;

					&:hover {
						color: #000;
					}
				}
			}

			.pages {
				float: left;
				display: inline-block;
				height: $headerRow2Height;
				line-height: $headerRow2Height;
				position: relative;
				margin-left: 20px;

				li {
					color: #FFF;
					cursor: pointer;
					font-size: 14px;
					display: inline-block;
					width: 80px;
					text-align: center;

					&:hover {
						color: #DCAD4B;
					}
				}

				.stick {
					background-color: #DCAD4B;
					width: 80px;
					height: 2px;
					left: 0;
					position: absolute;
					top: $headerRow2Height - 3px;

					transition: left 0.5s;
					-moz-transition: left 0.5s; 
					-webkit-transition: left 0.5s;
					-o-transition: left 0.5s;
				}

				.selected {
					color: #DCAD4B;
				}
			}
		}

		.language-float-window {
			color: #C6C4B9;
			width: 100px;
			height:60px;
			position: absolute;
			top: -300px;
			right: 0;
			z-index: 95;
			text-align: left;
			transition: top .5s;

			ul {
				background-color: #37352C;

				li {	
					cursor: pointer;
					border-bottom: 1px solid #686868;
					height: 30px;
					line-height: 30px;

					span {
						display: inline-block;
						margin-left: 20px;
					}

					&:hover {
						color: #DCAD4B;
					}

					&:last-child {
						border-bottom: none;
					}
				}
			}
		}

		.grzx-float-window {
			color: #C6C4B9;
			height: 200px;
			width: 150px; 	
			position: absolute;
			top: -300px;
			right: 430px;
			z-index: 95;
			text-align: left;
			transition: top .5s;
			overflow: hidden;

			.title {
				background-color: #37352C;
				height: 50px;
				width: 100%;

				.username {
					color: #DCAD48;
					margin-left: 20px;
					height: 25px;
					line-height: 25px;
				}

				.userid {
					color: #C6C4B9;
					margin-left: 20px;
					height: 25px;
					line-height: 25px;
				}
			}

			ul {
				background-color: #48463A;
				height: 150px;
				width: 100%;

				li {
					border-bottom: 1px solid #37352C;
					cursor: pointer;
					height: 30px;
					line-height: 30px;
					
					span {
						display: inline-block;
						margin-left: 20px;
					}

					&:hover {
						color: #DCAD4B;
					}
				}
			}
		}

		.wdsc-float-window {
		    background-color: #000;
		    opacity: 0.9;
			color: #C6C4B9;
			width: 100%;
			height: auto;
			position: absolute;
			top: -300px;
			z-index: 95;
			text-align: left;
			transition: top .5s;

			ul {
				background-color: #37352C;

				li {
					list-style:none;
					float:left;
					border:1px solid #535250;
					position:relative;
					width: 150px;
					margin: 10px;
					transition: all .5s;

					img {
						width: 150px;
						height: 150px;
					}

					.hover-layer-none{
						display:none;
					}

					p {
						height:30px;
						line-height:30px;
						padding:0 5px;

						button{
							top:60px;
							width:60px;
							height:25px;
						}

						button:first-child{
							background:#cda654;
							color:black;
							margin-top:60px;
						}

						button:last-child{
							background:black;
							color:#cda654;
						}

						.game-name{
							display:inline-block;
							float:left;
							width: 80px;
    						text-align: left;
						}

						img{
							cursor: pointer;
							width: 20px;
							height: 20px;
							margin-left:5px;
							vertical-align: sub;
							transition: transform .3s;

							&:hover {
								transform: scale(1.5);
							}
						}
					}
				}

				li:hover {
					border:1px solid #cda654;
				}

				.hover-layer{
					z-index: 100;
					position: absolute;
					top: 60px;
					left: 24px;
					width: 100%;
					height: 82%;
					position: absolute;
					left: 0;
					top: 0;
					background-color: rgba(0, 0, 0, 0.5);


					button {
						cursor: pointer;
					}
				}
			}
		}
	}

	.header-float-window {
		background-color: #93949E;
		position: absolute;
		opacity: 0;
		transition: all .5s;
		height: 130px;
		top: -200px;
		width: $contentWidth;
		z-index: 85;
	    transform: translateX(0 - $contentWidth/2);
	    left: 50%;

		ul {
			display: none;
			width: 100%;
			height: 130px;

			li {
				cursor: pointer;
				height: 130px;
				line-height: 130px;
				display: inline-block;
				text-align: center;

				img {
					vertical-align: middle;
				}
			}
		}

		.dzyy {
			li {
				width: 33%;
			}
		}

		.ty {
			li {
				width: 33%;
			}
		}
	}
}

.fixed-header {
	position: fixed;
	height: 30px;
	z-index: 10;
}

@media screen and (max-width: 1200px) {
	$contentWidth: 997px;

	.header {
		.wrapper {
			width: $contentWidth;
		}

		.header-float-window {
			width: $contentWidth;
		    transform: translateX(0 - $contentWidth/2);
		}
	}
}