@import "../mixins.scss";

.personal-center {
    .dialog-wrapper {
        background-color: rgba(0, 0, 0, .95);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 156;

        $baseL                  :    1300;
        $baseWidth              :    1300px;
        $gap                    :    $baseWidth * 10 / $baseL;
        $gap2                   :    $baseWidth * 20 / $baseL;
        $leftContainerWidth     :    $baseWidth * 200 / $baseL;
        $rightContainerWidth    :    $baseWidth - $leftContainerWidth;
        $centerWalletWidth      :    $baseWidth * 270 / $baseL;
        $walletZoneWidth        :    $baseWidth * 780 / $baseL;
        $centerWalletHeight     :    170px;
        $userProfileHeight      :    140px;
        $userProfileHeight1     :    26px;
        $userProfileHeight2     :    26px;
        $userProfileHeight3     :    26px;
        $userProfileHeight4     :    30px;
        $treeLiHeight           :    50px;
        $CWHeight1              :    50px;
        $CWHeight2              :    70px;
        $CWHeight3              :    50px;

        $pc-icon-top1           :   -9px;
        $pc-icon-top2           :   -47px;
        $pc-icon-top3           :   -17px;
        $pc-icon-top4           :   -53px;

        .pc-icon {
            background-image: url("../img/pc.png");
            display: inline-block;
        }

        .crown-icon {
            background-position: -10px $pc-icon-top1;
            height: 15px;
            width: 16px;
        }

        .bankcard-icon {
            background-position: -45px $pc-icon-top1;
            height: 27px;
            width: 27px;
        }

        .mailbox-icon {
            background-position: -92px $pc-icon-top1;
            height: 27px;
            width: 27px;
        }

        .phone-icon {
            background-position: -139px $pc-icon-top1;
            height: 27px;
            width: 27px;
        }

        .dollar-icon {
            background-position: -190px $pc-icon-top3;
            height: 15px;
            width: 15px;
        }

        .file-icon {
            background-position: -218px $pc-icon-top3;
            height: 15px;
            width: 15px;
        }

        .setting-icon {
            background-position: -246px $pc-icon-top3;
            height: 15px;
            width: 15px;
        }

        .station-mail-icon {
            background-position: -273px $pc-icon-top3;
            height: 15px;
            width: 15px;
        }

        .dialog {
            min-width: 950px;
            max-width: $baseWidth + 30px;
            margin: 0 auto;
            position: relative;
            height: 100%;
            box-sizing: border-box;
            padding: 15px;

            .left-container {
                background-color: $purple1;
                box-sizing: border-box;
                width: $leftContainerWidth;
                height: 100%;
                float: left;
                font-size: 14px;

                .user-profiles {
                    box-sizing: border-box;
                    height: $userProfileHeight;
                    padding: $gap2;
                    padding-bottom: 0;
                    width: 100%;

                    .user {
                        .username {
                            color: #FFF;
                            font-size: 14px;
                            height: $userProfileHeight1;
                            line-height: $userProfileHeight1;
                            text-align: left;
                        }

                        .user-level {
                            color: $yellow2;
                            font-size: 12px;
                            height: $userProfileHeight2;
                            line-height: $userProfileHeight2;
                            text-align: left;

                            .crown-icon {
                                vertical-align: text-top;
                            }

                            .vip {
                                vertical-align: top;
                                margin-left: 5px;
                            }
                        }
                    }

                    .psw-info {
                        font-size: 12px;
                        height: $userProfileHeight3;
                        line-height: $userProfileHeight3;
                        text-align: left;

                        span {
                            color: $font-color1;
                            display: inline-block;
                            float: left;
                        }

                        a {
                            color: $font-color3;
                            cursor: pointer;
                            display: inline-block;
                            float: right;
                            text-decoration: underline;
                        }

                        .psw-level-value {
                            margin-left: $gap;
                        }
                    }

                    .menu-ico {
                        margin-top: 6px;
                        text-align: left;

                        li {
                            display: inline-block;
                            width: 33.33%;
                            text-align: left;

                            &:last-child {
                                margin-right: 0;                                
                            }
                        }

                        .binded {
                            .bankcard-icon {
                                background-position: -45px $pc-icon-top2;
                            }

                            .mailbox-icon {
                                background-position: -92px $pc-icon-top2;
                            }

                            .phone-icon {
                                background-position: -139px $pc-icon-top2;
                            }
                        }
                    }
                }
                
                .tree {
                    width: 100%;
                    height: auto;
                    background-color: $purple1;
                    position: relative;
                    border-top: 2px solid $purple5;

                    ul {
                        width: 100%;

                        li {
                            border-bottom: 1px solid $purple5;
                            color: #b4b4b4;
                            cursor: pointer;
                            display: inline-block;
                            font-size: 14px;
                            height: $treeLiHeight;
                            line-height: $treeLiHeight;
                            padding-left: $gap2;
                            text-align: left;
                            width: 100%;

                            .pc-icon {
                                vertical-align: middle;
                                margin-right: $gap;
                            }

                            .letter-count{
                                margin: 0;
                            }

                            &:hover {
                                color: #FFF;
                                background-color: $purple5;

                                .dollar-icon {
                                    background-position: -190px $pc-icon-top4;
                                }

                                .file-icon {
                                    background-position: -218px $pc-icon-top4;
                                }

                                .setting-icon {
                                    background-position: -246px $pc-icon-top4;
                                }

                                .station-mail-icon {
                                    background-position: -273px $pc-icon-top4;
                                }
                            }
                        }

                        .selected {
                            color: #FFF;
                            background-color: $purple5;

                            .dollar-icon {
                                background-position: -190px $pc-icon-top4;
                            }

                            .file-icon {
                                background-position: -218px $pc-icon-top4;
                            }

                            .setting-icon {
                                background-position: -246px $pc-icon-top4;
                            }

                            .station-mail-icon {
                                background-position: -273px $pc-icon-top4;
                            }
                        }
                    }

                    .stick {
                        height: $treeLiHeight;
                        width: 3px;
                        position: absolute;
                        background-color: $red;
                        top: 0px;
                        left: 0px;
                        transition: top 0.5s;
                        -moz-transition: top 0.5s;
                        -webkit-transition: top 0.5s;
                        -o-transition: top 0.5s;
                    }
                }
            }

            .right-container {
                background-color: $purple5;
                float: right;
                box-sizing: border-box;
                width: $rightContainerWidth;
                height: 100%;
                padding: $gap2;

                .center-wallet {
                    background-color: $purple1;
                    width: $centerWalletWidth;
                    height: $centerWalletHeight;
                    position: relative;
                    padding: 0 $gap;
                    color: #535353;
                    float: left;
                    transition: all .3s;

                    .title {
                        border-bottom: 1px solid $purple5;
                        color: $font-color1;
                        font-size: 15px;
                        height: $CWHeight1;
                        line-height: $CWHeight1;
                        text-align: left;
                    }

                    .center-balance {  
                        height: $CWHeight2;
                        line-height: $CWHeight2;
                        text-align: left;

                        .money {
                            color: $font-color2;
                            float: left;
                        }

                        .money-unit {
                            color: $font-color1;
                            float: left;
                            font-size: 15px;
                        }

                        .money-type {
                            font-size: 22px;
                        }

                        .balance {
                            font-size: 22px;
                            margin-right: 5px;
                        }

                        .refresh-icon {
                            background-image: url(../img/common.png);
                            background-position: -132px -77px;
                            cursor: pointer;
                            display: inline-block;
                            float: right;
                            height: 15px;
                            margin-top: 27px;
                            width: 19px;

                            &:hover {
                                background-position: -132px -110px;
                            }
                        }
                    }

                    .actions {
                        height: $CWHeight3;
                        line-height: $CWHeight3;

                        .btn {
                            background-color: $purple6;
                            border-radius: 20px;
                            color: $font-color1;
                            display: inline-block;
                            font-size: 14px;
                            height: 30px;
                            line-height: 30px;
                            width: 100px;

                            &:hover{
                                color: $font-color2;
                            }
                        }

                        .btn-deposit {
                            float: left;
                        }

                        .btn-transfer {
                            float: right;
                        }
                    }
                }

                .nav-left,.nav-right{
                    height: 128px;
                    width: 16px;
                    margin:0 4px;
                    float: left;
                    display:table;
                    text-align:center;
                    position: absolute;

                    span{
                        display:table-cell;
                        vertical-align:middle;
                        cursor: pointer;
                    }

                    img{
                        vertical-align: middle;
                    }
                }

                .wallet-zone {
                    background-color: $purple1;
                    height: $centerWalletHeight;
                    width: $walletZoneWidth;
                    margin-left: $gap;
                    float: left;
                    padding-left: 2px;
                    box-sizing: border-box;
                    overflow: hidden;
                    transition: all .3s;
                    text-align: center;
                    
                    .swiper {
                        height: 100%;
                        @include transition(0.4s);
                    }

                    .wallet-group{
                        height: 100%;
                        width: 170px;
                        margin: 0 1px;
                        float: left;

                        .sub-wallet {
                            margin-top: 17px;
                        }
                    }
                }

                .tab-container{
                    margin-top: $gap;
                    text-align: left;
                    width: 100%;

                    & > div > div > div {
                        transform: scale(0.8);
                        transform-origin: 0 0;
                        width: 125%;
                        max-height: 452px;
                        overflow-y: auto;
                    }
                }
            }

            .close {
                color: $font-color1;
                font-size: 20px;
                top: 12px;
                right: 20px;
                position: absolute;
                z-index: 20;
                cursor: pointer;

                &:hover {
                    color: #DCAD4B;
                }
            }
        }

        .scale {
            transform: scale(1.2) !important;
            transition: transform .5s;
        }
    }
}

@media screen and (max-width: 1200px) {
    .personal-center {
        .dialog-wrapper {
            .dialog{
                -webkit-transform: rotateX(-90deg) scale(1.2);
                transform: rotateX(-90deg) scale(1.2);
            }
        }
    }
}