@import "../mixins.scss";

.personal-center {
    .dialog-wrapper {
        background-color: rgba(0, 0, 0, .95);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 156;

        $baseL                  :    1300;
        $baseWidth              :    1300px;
        $gap                    :    $baseWidth * 10 / $baseL;
        $gap2                   :    $baseWidth * 20 / $baseL;
        $leftContainerWidth     :    $baseWidth * 200 / $baseL;
        $rightContainerWidth    :    $baseWidth - $leftContainerWidth;
        $centerWalletWidth      :    $baseWidth * 270 / $baseL;
        $walletZoneWidth        :    $baseWidth * 780 / $baseL;
        $subWalletWidth         :    $baseWidth * 170 / $baseL;
        $swiperNavWidth         :    ($walletZoneWidth - $subWalletWidth * 4) / 2;

        $centerWalletHeight     :    170px;
        $userProfileHeight      :    140px;
        $userProfileHeight1     :    26px;
        $userProfileHeight2     :    26px;
        $userProfileHeight3     :    26px;
        $userProfileHeight4     :    30px;
        $treeLiHeight           :    50px;
        $CWHeight1              :    50px;
        $CWHeight2              :    70px;
        $CWHeight3              :    50px;

        $tabContainerTop        :    $centerWalletHeight + $gap + $gap2;
        $tabContainerLeft       :    $gap2;
        $tabContainerBottom     :    $gap2;
        $tabContainerRight      :    $gap2;

        $pc-icon-top1           :   -9px;
        $pc-icon-top2           :   -47px;
        $pc-icon-top3           :   -17px;
        $pc-icon-top4           :   -53px;

        .pc-icon {
            background-image: url("../img/pc.png");
            display: inline-block;
        }

        .crown-icon {
            background-position: -10px $pc-icon-top1;
            height: 15px;
            width: 16px;
        }

        .bankcard-icon {
            background-position: -45px $pc-icon-top1;
            height: 27px;
            width: 27px;
        }

        .mailbox-icon {
            background-position: -92px $pc-icon-top1;
            height: 27px;
            width: 27px;
        }

        .phone-icon {
            background-position: -139px $pc-icon-top1;
            height: 27px;
            width: 27px;
        }

        .dollar-icon {
            background-position: -190px $pc-icon-top3;
            height: 15px;
            width: 15px;
        }

        .file-icon {
            background-position: -218px $pc-icon-top3;
            height: 15px;
            width: 15px;
        }

        .setting-icon {
            background-position: -246px $pc-icon-top3;
            height: 15px;
            width: 15px;
        }

        .station-mail-icon {
            background-position: -273px $pc-icon-top3;
            height: 15px;
            width: 15px;
        }

        .left-icon {
            background-position: -305px $pc-icon-top1;
            height: 35px;
            width: 15px;
        }

        .right-icon {
            background-position: -335px $pc-icon-top1;
            height: 35px;
            width: 15px;
        }

        .dialog {
            min-width: 950px;
            max-width: $baseWidth + 30px;
            margin: 0 auto;
            position: relative;
            height: 100%;
            box-sizing: border-box;
            padding: 15px;

            .left-container {
                background-color: $purple1;
                box-sizing: border-box;
                width: $leftContainerWidth;
                height: 100%;
                float: left;
                font-size: 14px;
                transition: all .3s;

                .user-profiles {
                    box-sizing: border-box;
                    height: $userProfileHeight;
                    padding: $gap2;
                    padding-bottom: 0;
                    width: 100%;

                    .user {
                        .username {
                            color: #FFF;
                            font-size: 14px;
                            height: $userProfileHeight1;
                            line-height: $userProfileHeight1;
                            text-align: left;
                        }

                        .user-level {
                            color: $yellow2;
                            font-size: 12px;
                            height: $userProfileHeight2;
                            line-height: $userProfileHeight2;
                            text-align: left;

                            .crown-icon {
                                vertical-align: text-top;
                            }

                            .vip {
                                vertical-align: top;
                                margin-left: 5px;
                            }
                        }
                    }

                    .psw-info {
                        font-size: 12px;
                        height: $userProfileHeight3;
                        line-height: $userProfileHeight3;
                        text-align: left;

                        span {
                            color: $font-color1;
                            display: inline-block;
                            float: left;
                        }

                        a {
                            color: $font-color3;
                            cursor: pointer;
                            display: inline-block;
                            float: right;
                            text-decoration: underline;
                        }

                        .psw-level-value {
                            margin-left: $gap;
                        }
                    }

                    .menu-ico {
                        margin-top: 6px;
                        text-align: left;

                        li {
                            display: inline-block;
                            width: 33.33%;
                            text-align: left;

                            &:last-child {
                                margin-right: 0;                                
                            }
                        }

                        .binded {
                            .bankcard-icon {
                                background-position: -45px $pc-icon-top2;
                            }

                            .mailbox-icon {
                                background-position: -92px $pc-icon-top2;
                            }

                            .phone-icon {
                                background-position: -139px $pc-icon-top2;
                            }
                        }
                    }
                }
                
                .tree {
                    width: 100%;
                    height: auto;
                    background-color: $purple1;
                    position: relative;
                    border-top: 2px solid $purple5;

                    ul {
                        width: 100%;

                        li {
                            border-bottom: 1px solid $purple5;
                            color: #b4b4b4;
                            cursor: pointer;
                            display: inline-block;
                            font-size: 14px;
                            height: $treeLiHeight;
                            line-height: $treeLiHeight;
                            padding-left: $gap2;
                            text-align: left;
                            width: 100%;

                            .pc-icon {
                                vertical-align: middle;
                                margin-right: $gap;
                            }

                            .letter-count{
                                margin: 0;
                            }

                            &:hover {
                                color: #FFF;
                                background-color: $purple5;

                                .dollar-icon {
                                    background-position: -190px $pc-icon-top4;
                                }

                                .file-icon {
                                    background-position: -218px $pc-icon-top4;
                                }

                                .setting-icon {
                                    background-position: -246px $pc-icon-top4;
                                }

                                .station-mail-icon {
                                    background-position: -273px $pc-icon-top4;
                                }
                            }
                        }

                        .selected {
                            color: #FFF;
                            background-color: $purple5;

                            .dollar-icon {
                                background-position: -190px $pc-icon-top4;
                            }

                            .file-icon {
                                background-position: -218px $pc-icon-top4;
                            }

                            .setting-icon {
                                background-position: -246px $pc-icon-top4;
                            }

                            .station-mail-icon {
                                background-position: -273px $pc-icon-top4;
                            }
                        }
                    }

                    .stick {
                        height: $treeLiHeight;
                        width: 3px;
                        position: absolute;
                        background-color: $red;
                        top: 0px;
                        left: 0px;
                        transition: top 0.5s;
                        -moz-transition: top 0.5s;
                        -webkit-transition: top 0.5s;
                        -o-transition: top 0.5s;
                    }
                }
            }

            .right-container {
                background-color: $purple5;
                float: right;
                box-sizing: border-box;
                overflow: hidden;
                width: $rightContainerWidth;
                height: 100%;
                padding: $gap2;
                position: relative;
                transition: all .3s;

                .center-wallet {
                    background-color: $purple1;
                    width: $centerWalletWidth;
                    height: $centerWalletHeight;
                    position: relative;
                    padding: 0 $gap;
                    color: #535353;
                    float: left;
                    transition: all .3s;

                    .title {
                        border-bottom: 1px solid $purple5;
                        color: $font-color1;
                        font-size: 15px;
                        height: $CWHeight1;
                        line-height: $CWHeight1;
                        text-align: left;
                    }

                    .center-balance {  
                        height: $CWHeight2;
                        line-height: $CWHeight2;
                        text-align: left;

                        .money {
                            color: $font-color2;
                            float: left;
                        }

                        .money-unit {
                            color: $font-color1;
                            float: left;
                            font-size: 15px;
                        }

                        .money-type {
                            font-size: 22px;
                        }

                        .balance {
                            font-size: 22px;
                            margin-right: 5px;
                        }

                        .refresh-icon {
                            background-image: url(../img/common.png);
                            background-position: -132px -78px;
                            cursor: pointer;
                            display: inline-block;
                            float: right;
                            height: 15px;
                            margin-top: 27px;
                            width: 19px;

                            &:hover {
                                background-position: -132px -110px;
                            }
                        }
                    }

                    .actions {
                        height: $CWHeight3;
                        text-align: center;

                        .btn {
                            background-color: $purple6;
                            border-radius: 20px;
                            color: $font-color1;
                            display: inline-block;
                            font-size: 14px;
                            height: 30px;
                            line-height: 30px;
                            width: 100px;

                            &:hover{
                                color: $font-color2;
                            }
                        }

                        .btn-deposit {
                            margin-right: 30px;
                        }
                    }
                }

                .wallet-zone {
                    background-color: $purple1;
                    box-sizing: border-box;
                    float: left;
                    height: $centerWalletHeight;
                    margin-left: $gap;
                    overflow: hidden;
                    position: relative;
                    text-align: center;
                    transition: all .3s;
                    width: $walletZoneWidth;

                    .wallet-left-nav {
                        cursor: pointer;
                        display: inline-block;
                        height: 100%;
                        position: relative;
                        vertical-align: top;
                        width: $swiperNavWidth;

                        .left-icon {
                            position: absolute;
                            left: 0;
                            top: 50%;
                            margin-top: -18px;
                        }

                        &:hover {
                            .left-icon {
                                background-position: -305px -45px;
                            }
                        }
                    }

                    .wallet-right-nav {
                        cursor: pointer;
                        display: inline-block;
                        height: 100%;
                        position: relative;
                        vertical-align: top;
                        width: $swiperNavWidth;

                        .right-icon {
                            position: absolute;
                            right: 0;
                            top: 50%;
                            margin-top: -18px;
                        }

                        &:hover {
                            .right-icon {
                                background-position: -335px -45px;
                            }
                        }
                    }

                    .swiper-container {
                        display: inline-block;
                        height: 100%;
                        overflow: hidden;
                        width: $subWalletWidth * 4;

                        .swiper {
                            height: 100%;
                            @include transition(0.4s);
                            width: 10000px;

                            .wallet-group {
                                height: 100%;
                                width: $subWalletWidth;
                                margin: 0 1px;
                                float: left;

                                .sub-wallet {
                                    margin-top: 17px;
                                }
                            }
                        }
                    }
                }

                .tab-container {
                    bottom: $tabContainerBottom;
                    position: absolute;
                    text-align: left;
                    top: $tabContainerTop;
                    left: $tabContainerLeft;
                    right: $tabContainerRight;
                    overflow: hidden;

                    .tab-container-item {
                        height: 100%;
                        position: relative;
                        width: 100%;

                        ul {
                            margin-bottom: $gap / 2;

                            & + div {
                                background-color: $purple1;
                                position: absolute;
                                top: $gap / 2 + 40px;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                overflow: auto;
                            }
                        }

                        ::-webkit-scrollbar
                        {
                            width: 5px;
                            height: 5px;
                            background-color: $purple1;
                        }
                        
                        /*定义滚动条轨道 内阴影+圆角*/
                        ::-webkit-scrollbar-track
                        {
                            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                            border-radius: 10px;
                            background-color: $purple1;
                        }
                        
                        /*定义滑块 内阴影+圆角*/
                        ::-webkit-scrollbar-thumb
                        {
                            border-radius: 10px;
                            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
                            background-color: $font-color1;
                        }
                    }
                }
            }

            .close {
                color: $font-color1;
                font-size: 20px;
                top: 12px;
                right: 20px;
                position: absolute;
                z-index: 20;
                cursor: pointer;

                &:hover {
                    color: $font-color2;
                }
            }
        }
    }
}

@media screen and (max-width: 1350px) {
    .personal-center {
        .dialog-wrapper {
            $baseL                  :    1300;
            $baseWidth              :    1000px;
            $gap                    :    $baseWidth * 10 / $baseL;
            $gap2                   :    $baseWidth * 20 / $baseL;
            $leftContainerWidth     :    $baseWidth * 200 / $baseL;
            $rightContainerWidth    :    $baseWidth - $leftContainerWidth;
            $centerWalletWidth      :    $baseWidth * 270 / $baseL;
            $walletZoneWidth        :    $baseWidth * 780 / $baseL;
            $subWalletWidth         :    $baseWidth * 170 / $baseL;
            $swiperNavWidth         :    ($walletZoneWidth - $subWalletWidth * 4) / 2;
            $centerWalletHeight     :    170px;
            $tabContainerTop        :    $centerWalletHeight + $gap + $gap2;
            $tabContainerLeft       :    $gap2;
            $tabContainerBottom     :    $gap2;
            $tabContainerRight      :    $gap2;

            .dialog {
                max-width: $baseWidth + 30px;

                .left-container {
                    width: $leftContainerWidth;

                    .user-profiles {
                        padding: $gap2;

                        .psw-info {
                            .psw-level-value {
                                margin-left: $gap;
                            }
                        }
                    }
                }

                .right-container {
                    width: $rightContainerWidth;
                    padding: $gap2;

                    .center-wallet {
                        width: $centerWalletWidth;
                        padding: 0 $gap;

                        .title {
                            font-size: 14px;
                        }

                        .center-balance {  
                            .money-unit {
                                font-size: 12px;
                            }

                            .money-type {
                                font-size: 17px;
                            }

                            .balance {
                                font-size: 17px;
                                margin-right: 5px;
                            }
                        }

                        .actions {
                            .btn {
                                font-size: 12px;
                                height: 24px;
                                line-height: 24px;
                                width: 80px;
                                transition: all .3s;
                            }

                            .btn-deposit {
                                margin-right: 10px;
                            }
                        }
                    }

                    .wallet-zone {
                        background-color: $purple1;
                        box-sizing: border-box;
                        float: left;
                        margin-left: $gap;
                        overflow: hidden;
                        position: relative;
                        text-align: center;
                        transition: all .3s;
                        width: $walletZoneWidth;

                        .wallet-left-nav {
                            cursor: pointer;
                            display: inline-block;
                            height: 100%;
                            position: relative;
                            vertical-align: top;
                            width: $swiperNavWidth;

                            .left-icon {
                                position: absolute;
                                left: 0;
                                top: 50%;
                                margin-top: -18px;
                            }

                            &:hover {
                                .left-icon {
                                    background-position: -305px -45px;
                                }
                            }
                        }

                        .wallet-right-nav {
                            cursor: pointer;
                            display: inline-block;
                            height: 100%;
                            position: relative;
                            vertical-align: top;
                            width: $swiperNavWidth;

                            .right-icon {
                                position: absolute;
                                right: 0;
                                top: 50%;
                                margin-top: -18px;
                            }

                            &:hover {
                                .right-icon {
                                    background-position: -335px -45px;
                                }
                            }
                        }

                        .swiper-container {
                            display: inline-block;
                            height: 100%;
                            overflow: hidden;
                            width: $subWalletWidth * 4;

                            .swiper {
                                height: 100%;
                                @include transition(0.4s);
                                width: 10000px;

                                .wallet-group {
                                    height: 100%;
                                    width: $subWalletWidth;
                                    margin: 0 1px;
                                    float: left;

                                    .sub-wallet {
                                        margin-top: 17px;
                                    }
                                }
                            }
                        }
                    }

                    .tab-container {
                        bottom: $tabContainerBottom;
                        position: absolute;
                        text-align: left;
                        top: $tabContainerTop;
                        left: $tabContainerLeft;
                        overflow: hidden;

                        .tab-container-item {
                            height: 100%;
                            position: relative;
                            width: 100%;

                            ul {
                                margin-bottom: $gap / 2;

                                & + div {
                                    background-color: $purple1;
                                    position: absolute;
                                    top: $gap / 2 + 40px;
                                    bottom: 0;
                                    left: 0;
                                    right: 0;
                                    overflow: auto;
                                }
                            }
                        }
                    }
                }

                .close {
                    color: $font-color1;
                    font-size: 20px;
                    top: 12px;
                    right: 20px;
                    position: absolute;
                    z-index: 20;
                    cursor: pointer;

                    &:hover {
                        color: $font-color2;
                    }
                }
            }
        }
    }
}