@import "../mixins.scss";

.set-phonenumber-dialog {
	@include dialog-frame;

	.dialog-wrapper {
		@include dialog-wrapper(450px);
		z-index: 180;
		top: 50%;

		.dialog {
			@include dialog(450px, 330px);

			background-color: $purple1;
			color: $font-color1;
			font-size: 14px;

			.title {
				font-size: 16px;
			    height: 45px;
			    line-height: 45px;
			    border-bottom: 1px solid $border-color1;
			    text-align: center;
			}

			.row1 {
				.steps {
					height: 90px;
					padding: 0 20px;
					width: 100%;

					li {
						display: inline-block;
						height: 90px;
						line-height: 90px;
						position: relative;

						.number {
							background-color: #241b2e;
							border-radius: 50%;
							display: inline-block;
							width: 20px;
							height: 20px;
							line-height: 20px;
							margin-right: 5px;
							text-align: center;
						}

						.text {
							display: inline-block;
							height: 30px;
    						line-height: 30px;
						}

						&:nth-child(1) {
							text-align: left;
							width: 35%;

							.arrow {
								position: absolute;
								right: 10px;
							}
						}

						&:nth-child(2) {
							text-align: left;
							width: 35%;
							padding-left: 20px;

							.arrow {
								position: absolute;
								right: -30px;
							}
						}

						&:nth-child(3) {
							text-align: right;
							width: 30%;
							padding-right: 5px;
						}
					}

					.active {
						.number {
							color: #8b8293;
						}

						.text {
							color: #8b8293;
						}
					}
				}
			}

			.content {
				display: none;
			}

			.content1 {
				display: block;

				table {
					padding: 0 20px;
					width: 100%;

					tr {
						height: 40px;
						lineght: 40px;
						margin-top: 30px;

						td {
							text-align: left;

							.input {
								vertical-align: middle;

								.warning-icon {
									top: 10px;
								}
							}

							.button {
								background-color: #241b30;
								color: $font-color0;
								margin-left: 25px;
							}
						}

						.text {
							text-align: left;
							width: 70px;
						}

						&:nth-child(2) {
							td {
								padding-top: 20px;
							}
						}
					}
				}

				.buttons {
					display: inline-block;
					margin: 0 auto;
					margin-top: 20px;

					.button {
						@include button1;

						&:last-child {
							margin-left: 20px;
						}
					}
				}
			}

			.content2 {
				table {
					padding: 0 20px;
					width: 100%;

					tr {
						height: 40px;
						lineght: 40px;
						margin-top: 30px;

						td {
							text-align: left;

							.input {
								vertical-align: middle;

								.warning-icon {
									top: 10px;
								}
							}

							.button {
								background-color: #241b30;
								color: $font-color0;
								margin-left: 25px;
							}
						}

						.text {
							text-align: left;
							width: 70px;
						}

						&:nth-child(2) {
							td {
								padding-top: 20px;
							}
						}
					}
				}

				.buttons {
					display: inline-block;
					margin: 0 auto;
					margin-top: 20px;

					.button {
						@include button1;

						&:last-child {
							margin-left: 20px;
						}
					}
				}
			}

			.content3 {
				.success {
					height: 100px;
					margin-top: 20px;

					.success-img {
						width: 50%;
						float: left;
						text-align: right;

						img {
							margin-right: 30px;
						}
					}

					.success-info {
						width: 50%;
						float: right;
						text-align: left;
					}
				}

				.button {
					@include button1;
				}
			}
		}
	}
}
