@import "../mixins.scss";

.sign-in {
	@include dialog-frame;

	.dialog-wrapper {	
		@include dialog-wrapper(364px, 374px);
		z-index: 150;
		top: 50%;
		padding: 7px;
		background-color: rgba(6,6,8,.6);

		.dialog {
			@include dialog(350px, 360px);
			background-color: $theme-background-color;
			border-radius: 0;
			font-size: 14px;
			padding: 0 20px;

			.text {
				display: inline-block;
				width: 60px;
				color: $theme-font-color;
				height: 30px;
				line-height: 30px;
				text-align: left;
				vertical-align: top;
			}

			.row {
				height: 50px;
				margin-top: 5px;
				width: 100%;
				text-align: left;
			}

			.row1 {
				height: 100px;
				width: 100%;
				position: relative;
				text-align: center;

				.logo-icon-small {
					margin-top: 30px;
				}
				
				.close {
					cursor: pointer;
					position: absolute;
					right: -5px;
					top: 0px;
					font-size: 25px;
					color: #736981;
				}
			}

			.verify-row {
				.verify-code {
					height: 30px;
    				margin-left: 9px;
				}

				.change-verify-code {
					color: $theme-font-color;
					cursor: pointer;
					margin-left: 9px;
					height: 30px;
					line-height: 30px;
					vertical-align: top;

					&:hover {
						color: #FFF;
					}
				}
			}

			.button-row {
				height: 60px;
				width: 100%;
				text-align: right;
				margin-top: 15px;

				.button {
					background-color: #3B3243;
					color: #180F20;
					cursor: pointer;
					width: 310px;
					height: 35px;
					line-height: 35px;
					text-align: center;
					margin-right: 18px;

					&:hover {
						color: #DCAD4B;
					}
				}

				.active {
					background-color: #257C51;
					color: #FFF;
				}
				
				.button-info {
					color: #555555;
					cursor: pointer;
					font-size: 12px;
					height: 20px;
					line-height: 20px;
					text-align: right;
					margin-top: 5px;

					&:hover {
						color: #DCAD4B;
					}
				}

				.find-password {
					float: right;

					&:hover {
						color: #DCAD4B;
					}
				}

				.signup-now {	
					display: inline-block;
					float: left;

					&:hover {
						color: #DCAD4B;
					}
				}
			}
		}
	}
}