@import "../mixins.scss";

.sub-wallet{
    background-color:#ebe9e1;
    width: 88px;
    height: 54px;
    position: relative;
    color: #535353;
    font-weight: bold;
    font-size: 10px;
    margin-top: 7px;

	& > span{
		margin-top: 4px;
    	display: inline-block;
	}
	
	hr{
	    height: 1px;
	    border: none;
	    border-top: 1px solid #cda654;
	    width: 90%;
	    margin: 4px;   	
	}

	.transfer-layer{
		position:absolute;
		top:0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background: rgba(125,124,121,0.7);
		display: none;

		.refresh{
	        position: absolute;
	        right: 3px;
	        top: 2px;
	        cursor: pointer;
	        opacity: 0.7;
	        width: 16px;
	    }

        .btn{
	        width: 32px;
	        height: 16px;
	        line-height: 16px;
	        font-size: 10px;
	        border:1px solid #cda654;
	        color:#fdfbf9;
	        display: inline-block;
	        margin-top: 20px;
	        &:hover{
	            background-color:#cda654;
	        }
	    }

	    .turn-out{
	        margin-left: 10px;
	    }
	}

}