@import "../mixins.scss";

.sub-wallet{
    background-color:#ebe9e1;
    width: 110px;
    height: 60px;
    position: relative;
    padding: 4px;
    color: #535353;
    font-weight: bold;
    font-size: 12px;
    margin-top: 11px;

	& > span{
		margin-top: 5px;
    	display: inline-block;
	}
	
	hr{
	    height: 1px;
	    border: none;
	    border-top: 1px solid #cda654;
	    width: 90%;   	
	}

	.transfer-layer{
		position:absolute;
		top:0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background: rgba(125,124,121,0.7);
		display: none;

		.refresh{
	        position: absolute;
	        right: 3px;
	        top: 2px;
	        cursor: pointer;
	        opacity: 0.7;
	    }

        .btn{
	        width: 40px;
	        height: 20px;
	        line-height: 20px;
	        font-size: 12px;
	        border:1px solid #cda654;
	        color:#fdfbf9;
	        display: inline-block;
	        margin-top: 25px;
	        &:hover{
	            background-color:#cda654;
	        }
	    }

	    .turn-out{
	        margin-left: 20px;
	    }
	}

}