@import "../mixins.scss";

.sub-wallet{
    border-right: 1px solid $purple5;
    color: $font-color1;
    width: 170px;
    height: 60px;
    position: relative;
    font-weight: normal;
    font-size: 10px;
    margin-top: 7px;
    padding: 0 15px;
    text-align: left;

	.row1 {
		height: 30px;
		line-height: 30px;
		width: 100%;

		.balance {
			float: left;
			font-size: 16px;
		}

        .refresh-icon {
            background-image: url(../img/common.png);
            background-position: -132px -77px;
            cursor: pointer;
            display: inline-block;
            float: right;
            height: 15px;
            margin-top: 7px;
            width: 19px;

            &:hover {
                background-position: -132px -110px;
            }
        }
	}

	.row2 {
		height: 30px;
		line-height: 30px;
		width: 100%;

		.platform {
			float: left;
			font-size: 14px;
		}

		.btn-transfer {
			cursor: pointer;
			float: right;
			font-size: 14px;

			&:hover {
				color: $font-color2;
				text-decoration: underline;
			}
		}
	}
}