@import "../mixins.scss";

.topup-confirm-dialog {
	@include dialog-frame;

	.dialog-wrapper {
		@include dialog-wrapper(640px);
		z-index: 170;
		top: 50%;

		.dialog {
			@include dialog(640px, 470px);

			background-color: $purple1;
			color: $font-color1;
			font-size: 14px;

			.title {
				border-bottom: 1px solid $border-color1;
				height: 50px;
				line-height: 50px;
				position: relative;
				font-size: 16px;
				text-align: center;

	            .close {
	                font-size: 30px;
				    top: -5px;
				    right: 15px;
	                position: absolute;
	                z-index: 20;
	                cursor: pointer;

	                &:hover {
	                    color: $font-color2;
	                }
	            }
			}

			.content {
				padding: 25px 40px;

				.row2 {
					height: 75px;
				    font-size: 14px;
				    text-align: left;

				    div {
				    	height: 25px;
				    	line-height: 25px;
				    }
				}

				.row3 {
					color: $red;
					font-size: 12px;
				    height: 40px;
				    line-height: 40px;
				    margin-bottom: 7px;
					text-align: left;
				}

				.row4 {
					table {
						border-top: 1px solid $border-color1;
						border-left: 1px solid $border-color1;
						font-size: 12px;
						width: 100%;
						height: 120px;

						tr {
							height: 40px;
							line-height: 40px;

							td {
								border-bottom: 1px solid $border-color1;
								border-right: 1px solid $border-color1;
							}

							.name {
								width: 30%;
							}

							.value {
								width: 70%;
							}

							.left {
								float: left;
								margin-left: 10px;
							}

							.right {
								float: right;
								margin-right: 10px;
							}

							.copy {
								cursor: pointer;
								
								&:hover {
									color: #CDA654;
								}
							}

							.postscript, .account-value, .user-name-value {
								position: relative;
								left: 38%;
							}
						}
					}
				}

				.row5 {
					font-size: 12px;
				    margin-top: 5px;
				    text-align: left;
				    line-height: 20px;
				}
			}
		}
	}
}