@import "../mixins.scss";

.topup-confirm-dialog {
	@include dialog-frame;

	.dialog-wrapper {
		@include dialog-wrapper(640px);
		z-index: 170;
		top: 50%;

		.dialog {
			@include dialog(640px, 530px);

			background-color: $purple1;
			color: $font-color1;
			font-size: 14px;

			.row1 {
				border-bottom: 1px solid $border-color1;
				height: 50px;
				line-height: 50px;
				position: relative;

				.title {
					font-size: 16px;
					text-align: center;
				}

	            .close {
	                font-size: 30px;
				    top: -5px;
				    right: 15px;
	                position: absolute;
	                z-index: 20;
	                cursor: pointer;

	                &:hover {
	                    color: $font-color2;
	                }
	            }
			}

			.row2 {
				height: 100px;
			    margin: 0 10px;
			    font-size: 12px;

				table {
					height: 100%;
					width: 95%;

					tr {
						height: 30px;
						line-height: 30px;

						.name {
							text-align: right;
						}

						.value {
							text-align: left;
						}
					}
				}
			}

			.row3 {
				color: $red;
				font-size: 12px;

				.countdown-time {
					margin-left: 15px;
				}
			}

			.row4 {
				table {
					border-top: 1px solid $border-color1;
					border-left: 1px solid $border-color1;
					font-size: 12px;
					width: 100%;
					height: 120px;

					tr {
						height: 30px;
						line-height: 30px;

						td {
							border-bottom: 1px solid $border-color1;
							border-right: 1px solid $border-color1;
						}

						.name {
							width: 30%;
						}

						.value {
							width: 70%;
						}

						.left {
							float: left;
							margin-left: 10px;
						}

						.right {
							float: right;
							margin-right: 10px;
						}

						.copy {
							cursor: pointer;
							
							&:hover {
								color: #CDA654;
							}
						}

						.postscript, .account-value, .user-name-value {
							position: relative;
							left: 38%;
						}
					}
				}
			}

			.row5 {
				font-size: 12px;
				height: 50px;
				border: 1px dashed #CCCCCC;
				margin: 5px;
				padding: 6px;
				text-align: left;
				color: #949494;
			}
		}
	}
}