@import "../mixins.scss";

.topup-record {
	@include tab-page;

	$upHeight               :      32px;
	$downHeight             :      63px;
	$buttonLeftGap          :      35px;

	display: block;
	font-size: 14px;
	padding: 25px 0;

	.bar-zone {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;

		.up {
			color: $font-color1;
			height: $upHeight;
			line-height: $upHeight;

			.select {
				float: left;
			}

			.time-section {
				display: inline-block;
				float: left;
				height: $upHeight;
				line-height: $upHeight;
				margin-left: 20px;

				input {
					background: transparent;
					border: 1px solid $border-color1;
					color: $font-color1;
					height: 27px;
					width: 130px;
					text-align: center;
				}

				.title {
					margin-right: 5px;
				}

				.divider {
					padding: 0 5px;
				}
			}

			ul {
				@include shortcut-date;
			}

			.button {
				background: 0;
				border: 1px solid $green;
				border-radius: 20px;
				float: left;
				margin-left: $buttonLeftGap;
				margin-top: 3px;
			}
		}

		.down {
			height: $downHeight;
			line-height: $downHeight;
			text-align: left;

			.text {
				color: $font-color1;
			}

			.value {
				color: $font-color1;
			}
		}
	}

	.table-zone {
		width: 100%;

		table {
			@include table;
		}
	}
}

@media screen and (max-width: 1350px) {
	.topup-record {
		$buttonLeftGap          :      15px;

		.bar-zone {
			padding-left: 10px;
			padding-right: 10px;

			.up {
				.time-section {
					margin-left: 10px;

					input {
						width: 110px;
					}
				}

				ul {
					li {
					    margin: 0 2px;
					    width: 50px;
					}
				}
				
				.button {
					margin-left: $buttonLeftGap;
				}
			}
		}
	}
}