@import "../mixins.scss";
.top-up {
	@include tab-page;
	display:block;

	.row1 {
		ul {
			li {
				border: 1px solid #CCCCCC;
				cursor: pointer;
				color: #999999;
				display: inline-block;
				height: 32px;
				line-height: 32px;
				width: 120px;
				background-color: #F9FBFF;
				text-align: center;

				&:first-child {
					border-right: none;
				}

				&:last-child {
					border-left: none;	
				}
			}

			.selected {
				background-color: #0088CC;
				color: #FFF;
			}
		}
	}

	.row2 {
		margin-top: 20px;

		.title {
			color: #999999;
			height: 30px;
			line-height: 30px;
		}

		ul {
			li {
				color: #999999;
				cursor: pointer;
				border: 1px solid #DBDBDB;
				display: inline-block;
			    height: 35px;
			    line-height: 35px;
				width: 150px;
				margin-right: 20px;
				margin-top: 20px;
				text-align: right;
				overflow: hidden;
				position: relative;

				&:hover{
					border: 1px solid red;
				}
	
				input[type='radio'] {
					position: absolute;
					top: 8px;
					left: 9px;
				}

				img {
					position: relative;
				}
			}

			.selected{
				border: 1px solid red;
			}
		}
	}

	.row3 {
		color: #0088CC;
		height: 30px;
		line-height: 30px;
		margin-top: 26px;
	}

	.row4 {
		margin-top: 20px;

		.text {
			color: #333333;
			display: inline-block;
			height: 30px;
			line-height: 30px;
			bottom: 12px;
			position: relative;
			margin-right: 10px;
		}

		.unit {
			margin-left: 10px;
		}

		.input-notice {
			color: #999999;
			font-size: 12px;
			height: 20px;
			line-height: 20px;
			margin-left: 70px;
		}
	}

	.row5 {
		margin-top: 28px;

		.button {
			margin-left: 67px;
		}
	}
}