@import "../mixins.scss";

.top-up {
	@include tab-page;
	display: block;

    $baseL                  :    1300;
    $baseWidth              :    1300px;
    $bankWidth              :    180px;
    $bankHeight             :    45px;
    $gap                    :    20px;

	.row1 {
		ul {
			li {
				background-color: $purple5;
				cursor: pointer;
				color: $font-color1;
				display: inline-block;
				font-size: 14px;
				height: 32px;
				line-height: 32px;
				width: 120px;
				text-align: center;
			}

			.selected {
				background-color: #4C3F57;
				color: #FFF;
			}
		}
	}

	.content {
		.fast-topup {
		}

		.superfast-topup {
		}

		.bank-topup {
			.select {
				margin-top: $gap;
			}

			table {
				border-top: 1px solid $border-color1;
				border-left: 1px solid $border-color1;
				width: 480px;
				margin-top: $gap;

				tr {
					height: 30px;
					line-height: 30px;

					td {
						color: $font-color1;
						text-align: center;
						border-right: 1px solid $border-color1;
						border-bottom: 1px solid $border-color1;
					}

					.td1 {
						width: 33.33%;
					}
				}
			}

			.deposit-method {
				margin-top: $gap;

				.title {
					color: $font-color1;
				}

				ul {
					display: inline-block;
					margin-left: $gap;

					li {
						cursor: pointer;
						display: inline-block;
						margin-left: 10px;

						label {
							color: $font-color1;
							cursor: pointer;
							font-size: 12px;
						}
					}
				}
			}

			.payment-counter {
				display: none;
				margin: 10px 0;
				
				.text {
					color: $font-color1;
					display: inline-block;
					height: 30px;
					line-height: 30px;
					bottom: 0;
					position: relative;
					margin-right: 10px;
				}

				.select {
					width: 150px;
					margin-left: 5px;

					&:last-child {
						margin-left: 20px;						
					}
				}

				.input {
				    position: relative;
				    top: 12px;
				    margin-left: 10px;
				}
			}
		}
	}

	.bank-cards {
		margin-top: 20px;

		.title {
			color: $font-color1;
			height: 30px;
			line-height: 30px;
		}

		ul {
			li {
				background-color: #FFF;
				cursor: pointer;
				display: inline-block;
			    height: $bankHeight;
			    line-height: $bankHeight;
			    width: $bankWidth;
				margin-right: 20px;
				margin-top: 20px;
				text-align: center;
				overflow: hidden;
				position: relative;

				&:hover {
					.card-overlay {
						display: none;
					}
				}

				input[type='radio'] {
					position: absolute;
					top: 14px;
					left: 9px;
				}

				.bankLogo {
					margin-top: 5px;
				}

				.card-overlay {
					background: rgba(0, 0, 0, .5);
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
				}
			}

			.selected {
				.card-overlay {
					display: none;
				}
			}
		}
	}

	.more-bank-cards {
		color: $font-color1;
		cursor: pointer;
		height: 30px;
		line-height: 30px;
		margin-top: 10px;

		.img-rotate {
			transform: rotateZ(180deg);
		}
	}

	.row4 {
		margin-top: 20px;

		.text {
			color: $font-color1;
			display: inline-block;
			height: 30px;
			line-height: 30px;
			bottom: 8px;
			position: relative;
			margin-right: 38px;
		}

		.unit {
			color: $font-color1;
			margin-left: 10px;
		}

		.input-notice {
			color: $font-color1;
			font-size: 12px;
			height: 20px;
			line-height: 20px;
			margin-left: 102px;
		}
	}

	.row5 {
		margin-top: 28px;

		.button {
			margin-left: 100px;
            @include button1;
		}
	}
}

@media screen and (max-width: 1350px) {
	.top-up {
		font-size: 14px;
	}
}
