@import "../mixins.scss";

.withdraw {
	@include tab-page;

    $baseL                  :    1300;
    $baseWidth              :    1300px;
    $bankWidth              :    400px;
    $bankHeight             :    45px;

	.title {
		background: none;
		color: $font-color1;
		height: 30px;
		line-height: 30px;
	    width: 95%;

		.text {
			color: $font-color1;
		}

		.value {
			color: $font-color1;
		}

		.left {
			float: left;
			display: inline-block;
		}

		.right {
			float: right;
			display: inline-block;
		}
	}

	.content {
		.row1 {
			.title {
				background: none;
			    height: 30px;
			    line-height: 30px;
			    color: $font-color1;
			    margin-top: 20px;
			    padding-left: 0;
			}

			ul {
				margin-top: 10px;

				li {
					background-color: #FFF;
					cursor: pointer;
				    height: $bankHeight;
				    line-height: $bankHeight;
				    width: $bankWidth;
					margin-top: 20px;
					text-align: center;
					overflow: hidden;
					position: relative;

					&:hover {
						.card-overlay {
							display: none;
						}
					}

					.text {
						display: inline-block;
					}

					.logo {
						margin-right: 20px;
					}

					input[type='radio'] {
						position: absolute;
						top: 14px;
						left: 9px;
					}

					.bankLogo {
						margin-top: 5px;
					}

					.card-overlay {
						background: rgba(0, 0, 0, .5);
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
					}
				}

				.selected {
					.card-overlay {
						display: none;
					}
				}
			}
		}

		.row2, .row21 {
			margin-top: 20px;

			.text {
				color: $font-color1;
				display: inline-block;
				height: 30px;
				line-height: 30px;
				bottom: 8px;
				position: relative;
				margin-right: 10px;
			}

			.unit {
				margin-left: 10px;
			}

			.input-notice {
				color: $font-color1;
				font-size: 12px;
				height: 20px;
				line-height: 20px;
				margin-left: 70px;
			}
		}

		.row3 {
			margin-top: 28px;

			.button {
				margin-left: 67px;
				@include button1;
			}
		}
	}
}

@media screen and (max-width: 1350px) {
	.withdraw {
		font-size: 13px;
	}
}