@import "../mixins.scss";

.withdraw {
	@include tab-page;

	.title {
		background-color: #E8E9E1;
		height: 30px;
		line-height: 30px;
	    width: 95%;
	    padding: 0 20px;

		.text {
			color: #494A5C;
		}

		.value {
			color: #494A5C;
		}

		.left {
			float: left;
			display: inline-block;
		}

		.right {
			float: right;
			display: inline-block;
		}
	}

	.content {
		.row1 {
			.title {
				background: none;
			    height: 30px;
			    line-height: 30px;
			    color: #333333;
			    margin-top: 20px;
			    padding-left: 0;
			}

			ul {
				margin-top: 10px;

				li {
					border: 1px solid #DBDBDB;
					cursor: pointer;
					height: 35px;
					line-height: 35px;
					width: 340px;
					margin-top: 20px;
					overflow: hidden;

					&:hover{
						border: 1px solid red;
					}

					input {
					    vertical-align: top;
					    position: relative;
					    top: 7px;
					    left: 10px;
					    cursor: pointer;
					}

					.text {
						vertical-align: top;
						color: #494A5C;
					}

					.value {
						vertical-align: top;
						color: #494A5C;
					}

					.logo {
						display: inline-block;
						width: 150px;
						text-align: center;
					}

					&:first-child {
						margin-top: 0px;
					}

					img {
						position: relative;
					}
				}

				.selected{
					border: 1px solid red;
				}
			}
		}

		.row2, .row21 {
			margin-top: 20px;

			.text {
				color: #333333;
				display: inline-block;
				height: 30px;
				line-height: 30px;
				bottom: 12px;
				position: relative;
				margin-right: 10px;
			}

			.unit {
				margin-left: 10px;
			}

			.input-notice {
				color: #999999;
				font-size: 12px;
				height: 20px;
				line-height: 20px;
				margin-left: 70px;
			}
		}

		.row3 {
			margin-top: 28px;

			.button {
				position: relative;
				left: 68px;
			}
		}
	}
}