@keyframes vex-fadein {
    from {
        -webkit-transform:rotatex(-70deg);
        transform:rotatex(-70deg);
        opacity:0
    }

    to {
        -webkit-transform:rotatex(0deg);
        transform:rotatex(0deg);
        opacity: .95
    }
}

@keyframes vex-fadeout {
    from {
        -webkit-transform:rotatex(0deg);
        transform:rotatex(0deg);
        opacity: .95
    }

    to {
        -webkit-transform:rotatex(-70deg);
        transform:rotatex(-70deg);
        opacity:0
    }
}
 
.overlay1 {
    background: #090908;
    bottom: 0;
    color: #FFF;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity, 0.3s, ease-in-out;
    visibility: hidden;
    z-index: 99;
}

.overlay2 {
    background: #090908;
    bottom: 0;
    color: #FFF;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity, 0.5s, ease-in-out;
    visibility: hidden;
    z-index: 135;
}

.overlay3 {
    background: #090908;
    bottom: 0;
    color: #FFF;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity, 0.5s, ease-in-out;
    visibility: hidden;
    z-index: 145;
}

.overlay4 {
    background: #090908;
    bottom: 0;
    color: #FFF;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity, 0.5s, ease-in-out;
    visibility: hidden;
    z-index: 155;
}

.overlay5 {
    background: #090908;
    bottom: 0;
    color: #FFF;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity, 0.5s, ease-in-out;
    visibility: hidden;
    z-index: 165;
}

.overlay6 {
    background: #090908;
    bottom: 0;
    color: #FFF;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity, 0.5s, ease-in-out;
    visibility: hidden;
    z-index: 175;
}

.overlay7 {
    background: #090908;
    bottom: 0;
    color: #FFF;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity, 0.5s, ease-in-out;
    visibility: hidden;
    z-index: 185;
}

.overlay8 {
    background: #090908;
    bottom: 0;
    color: #FFF;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity, 0.5s, ease-in-out;
    visibility: hidden;
    z-index: 195;
}

.modal-dialog-active {
    visibility: visible;
    opacity: 1;

    .dialog-wrapper {
        .dialog {
            -webkit-animation: vex-fadein 0.5s;
            animation: vex-fadein 0.5s;
            -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
        }
    }

    & + .overlay2 {
        opacity: .95;
        visibility: visible;
    }

    & + .overlay3 {
        opacity: .95;
        visibility: visible;
    }

    & + .overlay4 {
        opacity: .95;
        visibility: visible;  
    }

    & + .overlay5 {
        opacity: .95;
        visibility: visible;  
    }

    & + .overlay6 {
        opacity: .95;
        visibility: visible;  
    }

    & + .overlay7{
        opacity: .95;
        visibility: visible;
    }

    & + .overlay8{
        opacity: .95;
        visibility: visible;
    }
}

.modal-dialog-deactive {
    visibility: hidden;
    opacity: 1;

    .dialog-wrapper {
        .dialog {
            -webkit-animation: vex-fadeout 0.5s;
            animation: vex-fadeout 0.5s;
            -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
        }
    }

    & + .overlay2 {
        opacity: 0;
        visibility: hidden;
    }

    & + .overlay3 {
        opacity: 0;
        visibility: hidden;
    }

    & + .overlay4 {
        opacity: 0;
        visibility: hidden;
    }

    & + .overlay5 {
        opacity: 0;
        visibility: hidden;
    }

    & + .overlay6 {
        opacity: 0;
        visibility: hidden;        
    }

    & + .overlay7 {
        opacity: 0;
        visibility: hidden;
    }

    & + .overlay8 {
        opacity: 0;
        visibility: hidden;
    }

}


@keyframes pc-show-dialog {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    to {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

@keyframes pc-hide-dialog {
    from {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    to {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

.pc-modal-dialog-active {
    visibility: visible;
    opacity: 1;

    .dialog-wrapper {
        .dialog {
            -webkit-animation: pc-show-dialog 0.5s;
            animation: pc-show-dialog 0.5s;
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
        }
    }

    & + .overlay4 {
        opacity: .95;
        visibility: visible;  
    }
}

.pc-modal-dialog-deactive {
    visibility: hidden;
    opacity: 1;

    .dialog-wrapper {
        .dialog {
            -webkit-animation: pc-hide-dialog 0.5s;
            animation: pc-hide-dialog 0.5s;
            -webkit-transform: scale(0);
            transform: scale(0);
        }
    }

    & + .overlay4 {
        opacity: 0;
        visibility: hidden;
    }
}

@media screen and (max-width: 1200px) {
    @keyframes pc-show-dialog {
        from {
            -webkit-transform: scale(0);
            transform: scale(0);
        }

        to {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    @keyframes pc-hide-dialog {
        from {
            -webkit-transform: scale(1);
            transform: scale(1);
        }

        to {
            -webkit-transform: scale(0);
            transform: scale(0);
        }
    }

    .pc-modal-dialog-active {
        .dialog-wrapper {
            .dialog {
                -webkit-transform: scale(1);
                transform: scale(1);
            }
        }
    }
}