@import "../mixins.scss";

.client-download {
	@include page-property;

	.wrapper {
		$baseL                   :       1300;
		$baseWidth               :       1300px;
		$gap                     :       $baseWidth * 10 / $baseL;
		$treeWidth               :       $baseWidth * 200 / $baseL;
		$downloadContentWidth    :       $baseWidth - $gap - $treeWidth;

		$contentHeight           :       620px;
		$treeHeaderHeight        :       110px;
		$treeItemHeight          :       50px;
		$downloadItemHeight      :       ($contentHeight - 3px) / 2;
		$itemLeftWidth           :       $baseWidth * 320 / $baseL;
		$itemRightWidth          :       $downloadContentWidth - $itemLeftWidth;
		$circleLeft              :       $baseWidth * 70 / $baseL;
 
		.unslider {
			overflow: hidden;
		    position: relative;

			.sliders {
				min-height: 100px;

				li {
					img {
						cursor: pointer;
						width: 100%;
					}
				}
			}

			.unslider-nav {
				display: none;
			    position: absolute;
			    bottom: 10px;
			    left: 20px;

			    li {
			    	height: 10px;
				    width: 10px;
			    }
			}
		}

		.content {
			height: $contentHeight;
			margin-top: $gap - 5px;

			.tree {
				background-color: $purple1;
				display: inline-block;
				height: 100%;
				vertical-align: top;
				width: $treeWidth;

				.tree-title {
					border-bottom: 1px solid $border-color2;
					display: inline-block;
					height: $treeHeaderHeight;
				    text-align: left;
				    padding-left: 30px;
				    width: 100%;

					.cn-title {
						color: $font-color3;
						font-size: 20px;
						margin-top: 25px;
						height: 30px;
						line-height: 30px;
					}

					.en-title {
						font-size: 12px;
						color: #ababab;
						height: 30px;
						line-height: 30px;
					}
				}

				ul {
					display: inline-block;
					position: relative;
					width: 100%;

					li {
						border-bottom: 1px solid $border-color2;
						cursor: pointer;
						height: $treeItemHeight;
						line-height: $treeItemHeight;
						text-align: center;
						transition: top 0s;

						.download-icon {
							background-image: url("../img/download.png");
							background-repeat: no-repeat;
							display: inline-block;
							height: 25px;
							vertical-align: top;
							margin-top: ($treeItemHeight - 25px) / 2;
							width: 150px;
						}

						&:hover {
							background-color: $border-color2;
						}
					}

					.active {
						background-color: $border-color2;
					}

					.stick {
						background-color: $red;
						position: absolute;
						width: 3px;
						height: $treeItemHeight;
						left: 0;
						top: 0;
						transition: all .3s;
					}
				}
			}

			.download-content {
				background-color: rgba(0, 0, 0, .3);
				display: inline-block;
				height: 100%;
				margin-left: $gap;
				text-align: left;
				vertical-align: top;
				width: $downloadContentWidth;

				.download-item {
					background-color: rgba(0, 0, 0, .3);
					display: inline-block;
					height: $downloadItemHeight;
					text-align: left;
					width: 100%;

					.item-title {
						height: 30px;
						line-height: 30px;
						margin-top: 24px;
						margin-bottom: 40px;
						position: relative;
						text-align: left;
						padding-left: 20px;
						width: 100%;

						.title-stick {
							background-color: $red;
							width: 3px;
							height: 30px;
							position: absolute;
							left: 0;
							top: 0;
						}
					}

					.item-left {
						height: $downloadItemHeight - 120px;
						padding-left: $circleLeft;
						width: $itemLeftWidth;
						
						.circle {
							border-radius: 50%;
							border: 2px solid #2b312e;
							height: 160px;
							line-height: 160px;
							width: 160px;
							text-align: center;

							img {
								display: inline-block;
								position: relative;
								top: 12px;
								left: -5px;
								vertical-align: top;
							}
						}
					}

					.item-right {
						height: $downloadItemHeight - 120px;
						width: $itemRightWidth;
					}

					&:last-child {
						margin-top: 3px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1300px) {
	.client-download {
		@include page-property;

		.wrapper {
			$baseL                   :       1300;
			$baseWidth               :       1000px;
			$gap                     :       $baseWidth * 10 / $baseL;
			$treeWidth               :       $baseWidth * 200 / $baseL;
			$downloadContentWidth    :       $baseWidth - $gap - $treeWidth;

			$contentHeight           :       620px;
			$treeHeaderHeight        :       110px;
			$treeItemHeight          :       50px;
			$downloadItemHeight      :       ($contentHeight - 3px) / 2;
			$itemLeftWidth           :       $baseWidth * 320 / $baseL;
			$itemRightWidth          :       $downloadContentWidth - $itemLeftWidth;
			$circleLeft              :       $baseWidth * 70 / $baseL;

			.content {
				height: $contentHeight;
				margin-top: $gap - 5px;

				.tree {
					width: $treeWidth;

					.tree-title {
						height: $treeHeaderHeight;
					    padding-left: 12px;
					}

					ul {
						li {
							height: $treeItemHeight;
							line-height: $treeItemHeight;

							.download-icon {
								width: 133px;
							}
						}

						.stick {
							height: $treeItemHeight;
						}
					}
				}

				.download-content {
					margin-left: $gap;
					width: $downloadContentWidth;
				}
			}
		}
	}
}