@import "../mixins.scss";

.e-entertainment {
	@include page-property;
}
.main-content{
	width:1024px;
	margin:0 auto;

	.red{
		color:#C6281E
	}
	.left{
		float:left;
	}
	.top-left-module{
		width:202px;
		.left-list{
			background:#424242;
			padding:10px 0;
		}
		.head-img{
			width:100%;
			height:65px;
			background-size: cover;
			background:url("../img/cj.jpg");
		}
		.left-list li{
      list-style: none;
      height:30px;
      line-height:30px;
      border-bottom: 1px solid #515151;
    }
		.left-list li p{
			display:inline-block;
			width:50%;
			text-align: center;
			color:#ccc;
			font-size: 12px;
		}
		.left-list li:first-child{
        border-top: 1px solid #515151;
    }
	}
	.middle-banner{
		width: 600px;
    height: 100%;
		float: left;
		margin:0 10px;
		.unslider-nav {
			position: relative;
			top: -125px;
			ol {
				width: 100px;
				margin-right: 51px;
				float: right;
				li {
					display: inline-block;
					width: 18px;
					height: 10px;
					overflow: hidden;
					text-indent: 50px;
					background-color: #ccc;
					margin: 0 5px;
					border-radius: 3px;
				}
			}
		}
		.unslider-nav ol li.unslider-active {
			background-color: #fff;
		}
		.prev, .next {
			position: relative;
			top: -164px;
			width: 50px;
			height: 70px;
			overflow: hidden;
			opacity: 0.5;
			text-indent: 50px;
			display: inline-block;
		}
		.prev:hover, .next:hover {
			opacity: 1;
		}
		.prev {
			left: -269px;
			background: url('../img/left-normal.png') no-repeat;
		}
		.next {
			left: 307px;
			background: url('../img/right-normal.png') no-repeat;
		}
	}
		.slider{
			width:600px;
			height:295px;
			ul {
				height: 100%;
				position: relative;
				width:600px;
				overflow:hidden;
				li {
					height: 100%;
					float: left;
					list-style: none;
					img {
						width: 100%;
						height: 100%;
					}
				}
			}
	}
	.top-module{
		width:100%;
		height:295px;
	}
	.top-right-module{
		background: #48463A;
    float: left;
    width: 202px;
		.amount-info{
			margin: 0 0 10px;
			background: url(../img/jp.jpg) no-repeat;
			color: #cda654;
			font-size: 16px;
			font-weight: 600;
			text-align: center;
			background-size: contain;
			height: 150px;
			width: 100%;
			p{
				position:relative;
				top:70px;
			}
		}
		.user-info{
			margin: 10px 0;
			color: #fff;
			text-align: center;
			p {
				width: 100%;
				height: 20px;
				line-height: 20px;
				.userName{
					color: #cda654;
					margin-left: 5px;
				}
			}
			h3{
				margin: 10px 0;
				font-size: 16px;
				font-weight: 600;
			}
		}
		button {
			background: url(../img/ks.jpg);
			font-size: 16px;
			height: 30px;
			line-height: 30px;
			font-weight: 500;
			color: #fff;
			width: 182px;
			margin-bottom: 14px;
		}
		button:hover{
			color:#cda654;
		}
	}
	.middle-module{
		height:50px;
		width: 870px;
		margin-top: 10px;
		background:#48463A;
		line-height:50px;
		float:left;
		li{
			float:left;;
			list-style: none;
			color:#fff;
		}
		li img{
			height:100%;
			vertical-align:middle;
		}
		.pt-li{
			height:100%;
			width:80px;
			background: url("../img/pt-normal.png");
		}
		.pt-li:hover{
			background: url("../img/pt-down.png");
			background-color:#cda654;
		}
		.bbin-li:hover{
			background: url("../img/bbin-down.png");
			background-color:#cda654;
		}
		.bbin-li{
			height:100%;
			width:80px;
			background: url("../img/bbin-normal.png");
		}
		.ag-li{
			height:100%;
			width:80px;
			background: url("../img/ag-normal.png");
		}
		.ag-li:hover{
			background: url("../img/ag-down.png");
			background-color:#cda654;
		}
		.mg-li{
			height:100%;
			width:80px;
			background: url("../img/mg-normal.png");
		}
		.mg-li:hover{
			background: url("../img/mg-down.png");
			background-color:#cda654;
		}
	}
	.middle-right-module{
		margin-top: 10px;
		background:#48463A;
		line-height:50px;
		width:152px;
		margin-left:2px;
		border-left:1px solid #48463A;
		height:50px;
		float:left;
		li{
			float:left;
			height:100%;
			width:45px;
			background-size:cover;
		}
		.li-item1{
			background: url("../img/v08-n.png") no-repeat 10px;
		}
		.li-item1:hover{
			background: url("../img/v08-d.png") no-repeat 10px;
		}
		.li-item2{
			background: url("../img/v09-n.png") no-repeat 10px;
		}
		.li-item2:hover{
			background: url("../img/v09-d.png") no-repeat 10px;
		}
		.li-item3{
			background: url("../img/v10-n.png") no-repeat 10px;
		}
		.li-item3:hover{
			background: url("../img/v10-d.png") no-repeat 10px;
		}
	}
	.bottom-module{
		 width:100%;
		 height: 826px;
		 background: #2C2C2C;
		 display: inline-block;
     vertical-align: top;
		.bottom-left{
			width: 176px;
			background-color: #2C2C2C;
			float: left;
			position: relative;
			border-right: 1px solid #535250;
			height:100%;
			ul li{
				height: 40px;
				line-height: 40px;
				display: inline-block;
				width: 100%;
				color: #b4b4b4;
				border-bottom: 1px solid #535250;
				text-align:center;
				img{
					width: 24px;
			    height: 24px;
			    position: relative;
			    top: 5px;
			    right: 15px;
				}
			}
			ul li:first-child{
				border-top:1px solid #535250;
			}
			ul li:hover{
				color: #63563c;
				cursor: pointer;
				background-color: #cda654;
			}
			.stick{
				height: 40px;
				width: 3px;
				position: absolute;
				background-color: #cda654;
				top: 62px;
				left: 0px;
				transition: top 0.5s;
				-moz-transition: top 0.5s;
				-webkit-transition: top 0.5s;
			}
			.search-box{
				border: 1px solid #cda654;
				height: 30px;
				line-height: 30px;
				margin:20px 10px 10px;
				width: 160px;
				border-radius: 2px;
				border-right: 1px solid #535250;
				background-color: #000;
			}
			.search-box .search-btn{
				position:relative;
				left:5px;
			}
			.search-box input{
				width:120px;
				background-color: transparent;
				border: 0;
				color: #FFF;
				display: inline-block;
				float: left;
				height: 24px;
				line-height: 24px;
				padding:2px 5px;
			}
		}
		.bottom-right{
			margin: 15px 0 15px 10px;
			float:left;
			color: #b4b4b4;
			width:836px;
			ul{
				float:left;
				height: 685px;
	    	overflow: hidden;
				li{
					list-style:none;
					float:left;
					margin:0 10px 10px 0;
					border:1px solid #535250;
					position:relative;
					img{
						width:127px;
						height:127px;
					}
					.hover-layer-none{
						display:none;
					}
					p{
						height:30px;
						line-height:30px;
						padding:0 5px;
						button{
							top:60px;
							width:60px;
							height:25px;
						}
						button:first-child{
							background:#cda654;
							color:black;
							margin-top:60px;
						}
						button:last-child{
							background:black;
							color:#cda654;
						}
						.game-name{
							display:inline-block;
							float:left;
							width: 80px;
    					text-align: left;
						}
						img{
							width:10px;
							height:10px;
							margin-left:5px;
						}
					}
				}
				li:hover {
					border:1px solid #cda654;
				}
				.hover-layer{
					z-index: 300;
					position: absolute;
					top: 60px;
					left: 24px;
					width: 100%;
					height: 100%;
					position: absolute;
					left: 0;
					top: 0;
					background-color: rgba(0, 0, 0, 0.5);
				}
			}

			.more-game{
				float: left;
    		width: 820px;
				text-align:center;
				margin:15px 0 10px;
				padding:10px 0;
				border:1px solid #535250;
				color:#535250;
			}
		}

	}
}
