@import "../mixins.scss";

.forget-password {
	@include page-property;
	padding-top: 20px;
	padding-bottom: 20px;

	.wrapper {
		position: relative;
		width: $contentWidth;
		height: 100%;

		.title {
			height: 50px;
			width: 100%;

			li {
				background-color: #FEFEFE;
				color: #AAA;
				display: inline-block;
				height: 50px;
				line-height: 50px;
				width: 25%;

				.li-wrapper {
					border-right: 1px solid #CCCCCC;
					height: 40px;
					line-height: 40px;
					margin-top: 5px;
				}

				.number {
					font-size: 30px;
				}

				.text {
					font-size: 18px;
					margin-left: 10px;
					vertical-align: top;
				}

				&:last-child {
					.li-wrapper {
						border-right: none;
					}
				}
			}

			.active {
				background-color: #DCAD4B;
				color: #FFF;
			}
		}

		.content {
			width:100%;
			height: 100%;
			padding-top: 50px;

			.step1 {
				width: 500px;
				margin: 0 auto;
				text-align: left;

				.text {
				    display: inline-block;
				    height: 35px;
				    line-height: 35px;
				    vertical-align: top;
				    width: 100px;
				    text-align: right;
				}

				.row1 {

				}

				.row2 {
					margin-top: 20px;

					.verify-code {
						cursor: pointer;
					    height: 35px;
					    margin-left: 10px;
					    position: relative;
					    top: 1px;
					}
				}

				.row3 {
					margin-top: 20px;

					.button {
					    position: relative;
					    left: 100px;
					    background-color: #4B4B42;
					    color: #222222;
					}

					.active {
						background-color: #DCAD4B;
						color: #FFF;

						&:hover {
							color: #000;
						}
					}
				}
			}

			.step2 {
				display: none;
				width: 500px;
				margin: 0 auto;
				text-align: left;

				.row1 {
					.username {
						color: #DCAD4B;
					}
				}

				.row2 {
					ul {
						li {
							cursor: pointer;
						    height: auto;
						    line-height: 60px;
						    border: 1px solid #CCCCCC;
						    margin-top: 20px;

						    .verify-zone {
						    	display: none;
						    	padding: 20px;
						    	padding-top: 0;
						    	padding-left: 63px;

								.line1 {
									height: 40px;
								}

								.line1-5 {
									color: #CDA654;
									display: none;
									font-size: 12px;
									height: 30px;
									line-height: 30px;
								}

								.line2 {
									height: 40px;
									margin-top: 5px;

									.button {
										margin-left: 20px;
									    position: relative;
									    bottom: 13px;
									}
								}
						    }

						    .info-zone {
							    .left {
							    	float: left;
							    }

							    .right {
							    	float: right;
							    }

							    .mailimg {
								    margin-left: 20px;
								    position: relative;
								    top: 20px;
							    }
							    
							    .button {
							    	float: right;
								    position: relative;
								    top: 15px;
								    right: 20px;
								    background-color: #4B4B42;
								    color: #222222;
							    }

								.active {
									background-color: #DCAD4B;
									color: #FFF;

									&:hover {
										color: #000;
									}
								}

							    .not-bind {
							    	display: none;
							    }

							    .text {
							    	margin: 0 20px;
							    }
						    }
						}

						.active {
							border: 1px solid #DCAD4B;

							.verify-zone {
								display: block;
							}
						}
					}

					.button-zone {
						padding-top: 20px;
						width: 100%;
						text-align: center;
					}
				}

				.row3 {
					margin-top: 50px;

					.contactcs {
						color: #CDA654;
					}
				}
			}

			.step3 {
				display: none;
				width: 300px;
				margin: 0 auto;
				text-align: left;

				.row3 {

				}

				.row4 {
					margin-top: 10px;
				}

				.row5 {
					margin-top: 10px;
					width: 500px;
					margin: 0 auto;
					text-align: left;

					.button {
						margin-top: 10px;
					}
				}
			}

			.step4 {
				display: none;

				.row2 {
					margin-top: 20px;
				}
			}
		}
	}
}