@import "../mixins.scss";

.forget-password {
	@include page-property;
	padding-top: 20px;
	padding-bottom: 20px;

	.wrapper {
		position: relative;
		width: $contentWidth;
		height: 100%;

		.title {
			height: 50px;
			width: 100%;

			li {
				background-color: #FEFEFE;
				color: #AAA;
				display: inline-block;
				height: 50px;
				line-height: 50px;
				width: 25%;

				.li-wrapper {
					border-right: 1px solid #CCCCCC;
					height: 40px;
					line-height: 40px;
					margin-top: 5px;
				}

				.number {
					font-size: 30px;
				}

				.text {
					font-size: 18px;
					margin-left: 10px;
					vertical-align: top;
				}

				&:last-child {
					.li-wrapper {
						border-right: none;
					}
				}
			}

			.active {
				background-color: #DCAD4B;
				color: #FFF;
			}
		}
	}
}