@import "../mixins.scss";

.forget-password {
	@include page-property;
	padding-top: 20px;
	padding-bottom: 20px;

	.wrapper {
		position: relative;
		width: $contentWidth;
		height: 100%;

		.title {
			height: 50px;
			width: 100%;

			li {
				display: inline-block;
				height: 90px;
				line-height: 90px;
				position: relative;

				.number {
					background-color: #473E51;
					border-radius: 50%;
					color: #A39AAB;
					display: inline-block;
					width: 20px;
					height: 20px;
					line-height: 20px;
					margin-right: 5px;
					text-align: center;
				}

				.text {
					color: #A39AAB;
					display: inline-block;
					height: 30px;
					line-height: 30px;
				}

				.arrow {
					color: #A39AAB;
					margin: 0 30px;
				}
			}

			.active {
				.number {
					background-color: $green;
					color: #FFF;
				}

				.text {
					color: #FFF;
				}

				.arrow {
					color: #FFF;
				}
			}
		}

		.content {
			width:100%;
			height: 100%;
			padding-top: 70px;

			.step1 {
				width: 500px;
				margin: 0 auto;
				text-align: left;

				.text {
					color: #b3a8b8;
				    display: inline-block;
				    height: 35px;
				    line-height: 35px;
				    vertical-align: top;
				    width: 100px;
				    text-align: right;
				}

				.row1 {
					.input {
						background-color: $purple1;
						color: #4e4556;
					}
				}

				.row2 {
					margin-top: 20px;

					.verify-code {
						cursor: pointer;
					    height: 35px;
					    margin-left: 10px;
					    position: relative;
					    top: -3px;
					}

					.input {
						background-color: $purple1;
						color: #4e4556;

						.warning-icon {
							top: 10px;
						}
					}
				}

				.row3 {
					margin-top: 20px;

					.button {
						@include button1;
					    position: relative;
					    left: 100px;
					}

					.active {
						background-color: $green;
						color: #FFF;
					}
				}
			}

			.step2 {
				color: #b3a8b8;
				display: none;
				width: 500px;
				margin: 0 auto;
				text-align: left;

				.row1 {
					.username {
						color: #b3a8b8;
					}
				}

				.row2 {
			        .fp-mailbox-icon {
			            background-image: url("../img/pc.png");
			            display: inline-block;
			            background-position: -92px -9px;
			            height: 27px;
			            width: 27px;
						margin-top: 17px;
						margin-left: 17px;
			        }

			        .fp-phone-icon {
			            background-image: url("../img/pc.png");
			            display: inline-block;
			            background-position: -139px -9px;
			            height: 27px;
			            width: 27px;
						margin-top: 17px;
						margin-left: 17px;
			        }

					ul {
						li {
							background-color: #1f1226;
							cursor: pointer;
						    height: auto;
						    line-height: 60px;
						    margin-top: 20px;

						    .verify-zone {
						    	display: none;
						    	padding: 20px;
						    	padding-top: 0;
						    	padding-left: 63px;

								.line1 {
								    height: 20px;
								    line-height: 20px;
								    margin-bottom: 15px;

								    .email {
								    	color: #DCAD4B;
								    }

								    .phone {
								    	color: #DCAD4B;
								    }
								}

								.line1-5 {
									color: #CDA654;
									display: none;
									font-size: 12px;
									height: 30px;
									line-height: 30px;
								}

								.line2 {
									height: 40px;
									margin-top: 5px;

									.button {
										@include button1;

										background-color: $green;
										border-radius: 0;
										color: #FFF;
										margin-left: 20px;
									    position: relative;
									    bottom: 13px;
									}
								}
						    }

						    .info-zone {
							    .left {
							    	float: left;
							    }

							    .right {
							    	float: right;
							    }
							    
							    .button {
							    	@include button1;

							    	background-color: $green;
							    	float: right;
								    position: relative;
								    top: 15px;
								    right: 20px;
							    }

								.active {
									background-color: #DCAD4B;
									color: #FFF;

									&:hover {
										color: #000;
									}
								}

							    .not-bind {
							    	display: none;
							    }

							    .text {
							    	margin-left: 17px;
							    	font-weight: bold;
							    }
						    }
						}

						.active {
							border: 1px solid $green;

							.verify-zone {
								display: block;
							}
						}
					}

					.button-zone {
						padding-top: 20px;
						width: 100%;
						text-align: center;

						.button {
							@include button1;
							color: #FFF;
						}
					}
				}

				.row3 {
					margin-top: 50px;

					.contactcs {
						color: #CDA654;
						cursor: pointer;
					}
				}
			}

			.step3 {
				color: #b3a8b8;
				display: none;
				width: 400px;
				margin: 0 auto;
				text-align: left;

				.text {
				    margin-top: 10px;
				    margin-right: 20px;
				    display: inline-block;
				    vertical-align: top;
				}

				.row3 {
					.input {
						background-color: $purple1;

						.warning-icon {
							top: 10px;
						}
					}
				}

				.row4 {
					margin-top: 30px;

					.input {
						background-color: $purple1;

						.warning-icon {
							top: 10px;
						}
					}
				}

				.row5 {
					width: 500px;
					margin: 0 auto;
					margin-top: 50px;
					text-align: left;

					.button {
						@include button1;

					    height: 40px;
					    line-height: 40px;
					    width: 130px;
					    margin-left: 65px;
					}
				}
			}

			.step4 {
				color: #b3a8b8;
				display: none;

				.row2 {
					margin-top: 58px;

					.button {
						@include button1;

						background: $green;
						color: #FFF;
					}
				}
			}
		}
	}
}