@import "../mixins.scss";

.home-page {
	@include page-property;

	.wrapper {
		padding-bottom: 20px;
		background-color: #CCCCCC;

		.content23 {
			width: 100%;
			display: inline-block;
			background-color: #ccc;
			margin-bottom: 30px;

			.content2, .content3 {
				width: 100%;
				margin: auto;
			}

			.content2 {
				height: 50px;
				padding-top: 1px;
				padding-bottom: 10px;
			}

			.picture-zone {
				$baseL              : 1200;
				$baseWidth          : 1200px;
				$pictureZone1Width  : $baseWidth * 735 / $baseL;
				$pictureZone2Width  : $baseWidth * 455 / $baseL;
				$zone1MarginRight   : $baseWidth * 10 / $baseL;
				$image1Width        : $baseWidth * 368 / $baseL;
				$image1Height       : $baseWidth * 206 / $baseL;
				$image2Width        : $baseWidth * 368 / $baseL;
				$image2Height       : $baseWidth * 144 / $baseL;
				$image3Width        : $baseWidth * 353 / $baseL;
				$image3Height       : $baseWidth * 362 / $baseL;
				$image4Width        : $baseWidth * 734 / $baseL;
				$image4Height       : $baseWidth * 118 / $baseL;
				$image5Width        : $baseWidth * 222 / $baseL;
				$image5Height       : $baseWidth * 252 / $baseL;
				$image6Width        : $baseWidth * 222 / $baseL;
				$image6Height       : $baseWidth * 252 / $baseL;
				$image7Width        : $baseWidth * 449 / $baseL;
				$image7Height       : $baseWidth * 224 / $baseL;
				$gap1               : $baseWidth * 12 / $baseL;
				$gap2               : $baseWidth * 24 / $baseL;
				$gap3               : $baseWidth * 14 / $baseL;
				$gap4               : $baseWidth * 10 / $baseL;
				$gap5               : $baseWidth * 5 / $baseL;
				$gap6               : $baseWidth * 8 / $baseL;
				
				margin-top: 10px;
				
				div {
					display: inline-block;
					position: relative;
					text-align: center;
					transition: all .5s;

					.picture-bg {
						height: 100%;
						width: 100%;
					}
				}

				.picture-zone1 {
					float: left;
					width: $pictureZone1Width;
					margin-right: $zone1MarginRight;

					.zone1-up {
						width: $pictureZone1Width;

						.zone1-up-left {
							float: left;
							width: $image1Width;

							.zone1-up-left-up {
								height: $image1Height;
								line-height: $image1Height;
								width: $image1Width;
							}

							.zone1-up-left-down {
								height: $image2Height;
								line-height: $image2Height;
								width: $image2Width;
								margin-top: $gap1;
							}

							.info {
							    top: 0;
							    position: absolute;
							    left: 24%;
								font-size: 30px;
								font-weight: bold;

								span {
									margin-left: 10px;
								}
							}
						}

						.zone1-up-right {
							float: right;
							height: $image3Height;
							width: $image3Width;

							.info {
								cursor: pointer;
								position: absolute;
								top: 80%;
								left: 77px;
								width: 200px;
								border: 1px solid #BDBEED;
								height: 40px;
								line-height: 40px;
								font-size: 16px;
								color: #FFF;
								background-color: rgba(0,0,0,0.5);
								filter: alpha(opacity=50);
							}
						}
					}

					.zone1-down {
						height: $image4Height;
						width: $image4Width;

						.info {
						    font-size: 30px;
						    color: #FCE189;
						    position: absolute;
						    top: 48px;
						    right: 100px;
						}
					}
				}

				.picture-zone2 {
				    float: right;
					display: inline-block;
					width: $pictureZone2Width;
					text-align: left;

					.zone2-up {
						.zone2-up-left {
							height: $image5Height;
							width: $image5Width;
							margin-right: $gap5;
						}

						.zone2-up-right {
							height: $image6Height;
							width: $image6Width;
						}

						.info {
							cursor: pointer;
							position: absolute;
							top: 80%;
							left: 11px;
							width: 200px;
							border: 1px solid #BDBEED;
							height: 40px;
							line-height: 40px;
							font-size: 16px;
							color: #FFF;
							background-color: rgba(0,0,0,0.5);
							filter: alpha(opacity=50);
						}
					}

					.zone2-down {
						height: $image7Height;
						width: $image7Width;
						margin-top: $gap6;

						.table {
						    position: absolute;
						    width: 300px;
						    top: 85px;
						    height: 90px;
						    left: 80px;

						    .tr {
						    	height: 30px;
						    	line-height: 30px;
						    }
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.home-page {
		.wrapper {
			.content23 {
				.picture-zone {
					$baseL              : 1200;
					$baseWidth          : 997px;
					$pictureZone1Width  : $baseWidth * 735 / $baseL;
					$pictureZone2Width  : $baseWidth * 455 / $baseL;
					$zone1MarginRight   : $baseWidth * 10 / $baseL;
					$image1Width        : $baseWidth * 368 / $baseL;
					$image1Height       : $baseWidth * 206 / $baseL;
					$image2Width        : $baseWidth * 368 / $baseL;
					$image2Height       : $baseWidth * 144 / $baseL;
					$image3Width        : $baseWidth * 353 / $baseL;
					$image3Height       : $baseWidth * 362 / $baseL;
					$image4Width        : $baseWidth * 734 / $baseL;
					$image4Height       : $baseWidth * 118 / $baseL;
					$image5Width        : $baseWidth * 222 / $baseL;
					$image5Height       : $baseWidth * 252 / $baseL;
					$image6Width        : $baseWidth * 222 / $baseL;
					$image6Height       : $baseWidth * 252 / $baseL;
					$image7Width        : $baseWidth * 456 / $baseL;
					$image7Height       : $baseWidth * 224 / $baseL;
					$gap1               : $baseWidth * 12 / $baseL;
					$gap2               : $baseWidth * 24 / $baseL;
					$gap3               : $baseWidth * 14 / $baseL;
					$gap4               : $baseWidth * 10 / $baseL;
					$gap5               : $baseWidth * 5 / $baseL;
					$gap6               : $baseWidth * 8 / $baseL;

					div {
						display: inline-block;
						position: relative;
						text-align: center;

						.picture-bg {
							height: 100%;
							width: 100%;
							transition: all .5s;
						}
					}

					.picture-zone1 {
						float: left;
						width: $pictureZone1Width;
						margin-right: $zone1MarginRight;

						.zone1-up {
							width: $pictureZone1Width;

							.zone1-up-left {
								float: left;
								width: $image1Width;

								.info {
									left: 20%;
								}

								.zone1-up-left-up {
									height: $image1Height;
									line-height: $image1Height;
									width: $image1Width;
								}

								.zone1-up-left-down {
									height: $image2Height;
									line-height: $image2Height;
									width: $image2Width;
									margin-top: $gap1;
								}
							}

							.zone1-up-right {
								float: right;
								height: $image3Height;
								width: $image3Width;
								text-align: center;

								.info {
									left: 47px;
								}
							}
						}

						.zone1-down {
							height: $image4Height;
							width: $image4Width;

							.info {
							    top: 35px;
							    right: 70px;
							}
						}
					}

					.picture-zone2 {
					    float: right;
						display: inline-block;
						width: $pictureZone2Width;

						.zone2-up {
							.zone2-up-left {
								height: $image5Height;
								width: $image5Width;
								margin-right: $gap5;
							}

							.zone2-up-right {
								height: $image6Height;
								width: $image6Width;
							}

							.info {
								position: absolute;
							    top: 70%;
							    left: 12px;
								width: 160px;
								border: 1px solid #FFF;
								height: 40px;
								line-height: 40px;
								font-size: 18px;
								color: #FFF;
							}
						}

						.zone2-down {
							height: $image7Height;
							width: $image7Width;
							margin-top: $gap6;

							.table {
							    top: 65px;
							    left: 50px;
							}
						}
					}
				}
			}
		}
	}
}