@import "../mixins.scss";

.live-video {
	@include page-property;

	.wrapper {
		position: relative;
		width: $contentWidth;
		padding: 0;

		.title {
			height: 236px;
			width: 100%;
		}

		$baseL              : 1200;
		$baseWidth          : 1200px;
		$image1Width        : $baseWidth * 560 / $baseL;
		$image1Height       : $baseWidth * 222 / $baseL;
		$image2Width        : $baseWidth * 260 / $baseL;
		$image2Height       : $baseWidth * 200 / $baseL;
		$gap1               : $baseWidth * 60 / $baseL;
		$gap2               : $baseWidth * 60 / $baseL;
		$gap4               : $baseWidth * 41 / $baseL;
		$gap5               : $baseWidth * 60 / $baseL;
		$gap6               : $baseWidth * 59 / $baseL;

		.content {
			width: 100%;
			margin-bottom: 50px;

			.picture-zone {
				width: 100%;
				height: 100%;

				.item {	
					background-color: #48463A;
					border: 1px solid #474539;
					cursor: pointer;
					display: inline-block;
					height: 300px;
					width: $image2Width;
					position: relative;
					text-align: left;
					vertical-align: top;
					transition: all .5s;
					overflow: hidden;

					.zone1 {
						height: $image2Height;
						width: 100%;

						.logo {
							width: $image2Width;
							height: $image2Height;

							img {
								width: 100%;
								height: 100%;
							}
						}
					}

					.zone2 {
						color: #C8C9D4;
						height: 300px - $image2Height;
						width: 100%;
						margin: 0 auto;
						margin-top: 10px;

						.title {
							height: 40px;
							padding: 0 10px;
						}

						.quantity {
						    height: 50px;
						    line-height: 50px;
							padding: 0 10px;

							span {
								color: #999999;
							    position: relative;
							    left: 5px;
							}
						}
					}

					.item-overlay {
						position: absolute;
						left: 0;
						top: 0;
						right: 0;
						bottom: 0;
						background: rgba(0, 0, 0, 0.5);
					}

					&:hover {
						.item-overlay {
							display: none;
						}
					}
				}

				.img1 {
					width: $image1Width;
					margin-right: $gap1;

					.zone1 {
						height: $image1Height;

						.logo {
							width: $image1Width;
							height: $image1Height;
						}
					}

					.zone2 {
						.title {
							height: 30px;
							line-height: 30px;
						}

						.quantity {
						    height: 30px;
						    line-height: 30px;
						}
					}

					.item-overlay {
						display: none;
					}
				}

				.img2 {
					margin-right: $gap2;
				}

				.img4 {
					margin-top: 20px;
					margin-right: $gap4;
				}

				.img5 {
					margin-top: 20px;
					margin-right: $gap5;
				}

				.img6 {
					margin-top: 20px;
					margin-right: $gap6;
				}

				.img7  {
					margin-top: 20px;
				}
			}
		}
	}
}


@media screen and (max-width: 1200px) {
	.live-video {
		.wrapper {
			$baseL              : 1200;
			$baseWidth          : 997px;
			$image1Width        : $baseWidth * 560 / $baseL;
			$image1Height       : $baseWidth * 222 / $baseL;
			$image2Width        : $baseWidth * 260 / $baseL;
			$image2Height       : $baseWidth * 200 / $baseL;
			$gap1               : $baseWidth * 60 / $baseL;
			$gap2               : $baseWidth * 60 / $baseL;
			$gap4               : $baseWidth * 41 / $baseL;
			$gap5               : $baseWidth * 60 / $baseL;
			$gap6               : $baseWidth * 59 / $baseL;

			.content {
				width: 100%;
				margin-bottom: 70px;

				.picture-zone {
					width: 100%;
					height: 100%;

					.item {	
						height: 260px;
						width: $image2Width;

						.zone1 {
							height: $image2Height;
							width: 100%;

							.logo {
								width: $image2Width;
								height: $image2Height;
							}
						}

						.zone2 {
							color: #C8C9D4;

							.title {
								height: 45px;
							}

							.quantity {
								height: 30px;
								line-height: 30px;

								span {
								    left: 5px;
								}
							}
						}
					}

					.img1 {
						width: $image1Width;
						margin-right: $gap1;

						.zone1 {
							height: $image1Height;

							.logo {
								width: $image1Width;
								height: $image1Height;
							}
						}

						.zone2 {
							height: 260px - $image1Height;

							.title {
								height: 30px;
							}
						}
					}

					.img2 {
						margin-right: $gap2;
					}

					.img4 {
						margin-top: 20px;
						margin-right: $gap4;
					}

					.img5 {
						margin-top: 20px;
						margin-right: $gap5;
					}

					.img6 {
						margin-top: 20px;
						margin-right: $gap6;
					}

					.img7  {
						margin-top: 20px;
					}
				}
			}
		}
	}
}