@import "../mixins.scss";

.live-video {
	@include page-property;

	.wrapper {
		$baseL                   :       1300;
		$baseWidth               :       1300px;
		$picture-height          :       $baseWidth * 330 / $baseL;
		$picture1-width          :       $baseWidth * 864 / $baseL;
		$picture2-width          :       $baseWidth * 426 / $baseL;
		$picture3-width          :       $baseWidth * 426 / $baseL;
		$picture4-width          :       $baseWidth * 427 / $baseL;
		$picture5-width          :       $baseWidth * 427 / $baseL;
		$live-gap                :       $baseWidth * 10 / $baseL;

		.unslider {
			overflow: hidden;
		    position: relative;

			.sliders {
				min-height: 228px;

				li {
					img {
						width: 100%;
					}
				}
			}

			.unslider-nav {
			    position: absolute;
			    bottom: 10px;
			    left: 20px;

			    li {
			    	height: 10px;
				    width: 10px;
			    }
			}
		}

		.content {
			margin-top: $live-gap - 2px;

			.picture {
				display: inline-block;
				height: $picture-height;

				img {
					width: 100%;
				}
			}

			.picture1 {
				width: $picture1-width;
			}

			.picture2 {
				margin-left: $live-gap;
				width: $picture2-width;
			}

			.picture3 {
				width: $picture3-width;
				margin-top: $live-gap - 2px;
			}

			.picture4 {
				margin-left: $live-gap;
				margin-top: $live-gap - 2px;
				width: $picture4-width;
			}

			.picture5 {
				margin-left: $live-gap;
				margin-top: $live-gap - 2px;
				width: $picture5-width;
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.live-video {

	}
}