@import "../mixins.scss";

.lottery-game {
	@include page-property;

	.wrapper {
		position: relative;
		width: $contentWidth;

		$baseL              : 1300;
		$baseWidth          : 1300px;
		$itemHeight         : $baseWidth * 305 / $baseL;
		$height1            : $baseWidth * 250 / $baseL;
		$height2            : $baseWidth * 55 / $baseL;
		$width1             : $baseWidth * 650 / $baseL;
		$width2             : $baseWidth * 650 / $baseL;

		.item {
			height: $itemHeight;
			width: $baseWidth;

			.up {
				height: $height1;
				width: 100%;

				.left {
					display: inline-block;
					height: $height1;
					width: $width1;
					text-align: left;
					vertical-align: top;
					transition: all .5s;

					.row1 {
						padding-left: 20px;

						.lottery-icon {
							background-image: url("../img/lottery.png");
							display: inline-block;
							height: 70px;
							width: 150px;
						}

						.keno-icon {
							background-position: -10px 0px;
						}

						.bbin-icon {
							background-position: -10px -70px;
						}
					}

					.row2 {
						padding: 0 20px;

						.text {
							text-align: left;
						    height: 25px;
						    line-height: 25px;
						}
					}

					.row3 {
						padding-left: 20px;
						height: 40px;
						line-height: 40px;
						width: 100%;
						text-align: left;
	    				margin-top: 50px;

						.button {
							background-color: rgba(168, 11, 66, .5);
							border: none;
							border-radius: 20px;
							color: #FFF;
						    display: inline-block;
						    font-weight: normal;
						    height: 35px;
						    line-height: 35px;
						    width: 120px;

						    &:hover {
						    	background-color: $red;
						    	color: #FFF;
						    }
						}
					}
				}

				.right {
					background-image: url("../img/lottery-b1.png");
					background-repeat: no-repeat;
					background-position: 50% 50%;
					display: inline-block;
					height: $height1;
					width: $width2;
					vertical-align: top;
				}
			}

			.down {
				background-color: $purple1;
				color: $font-color1;
				height: $height2;
				line-height: $height2;
				width: 100%;

				li {
					display: inline-block;
				}
			}

			&:first-child {
				.down {
					li {
						width: 12.5%;
					}
				}
			}

			&:nth-child(2) {
				margin-top: 20px;
				
				.down {
					li {
						width: 11.11%;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1300px) {
}