@import "../mixins.scss";
.personal-center {
    @include page-property;
    .wrapper {
        padding: 10px 17px;
        .left-container {
            width: 180px;
            height: 800px;
            background-color: #48463a;
            float: left;
            .user-profiles {
                padding-top: 25px;
                .user-img {
                    display: inline-block;
                }
                .user {
                    .username {
                        color: #f8f8f8;
                        margin-right: 5px;
                    }
                    img {
                        display: inline-block;
                        vertical-align: middle;
                    }
                    .vip {
                        color: #cda654;
                    }
                }
                .psw-info {
                    margin-top: 20px;
                    text-align: left;
                    .psw-intro {
                        color: #b6b6b6;
                        margin-left: 15px;
                    }
                    .psw-level-value {
                        margin-left: 10px;
                        color: #1393ff;
                    }
                    .psw-level {
                        padding-left: 15px;
                        & > div:nth-child(1) {
                            display: inline-block;
                            width: 120px;
                            vertical-align: middle;
                            background-color: #f8f8f8;
                            height: 4px;
                            border-radius: 2px;
                            .psw-line-value {
                                width: 80%;
                                height: 4px;
                                border-top-left-radius: 2px;
                                border-bottom-left-radius: 2px;
                                background-color: #1393ff;
                            }
                        }
                        span {
                            margin-left: 8px;
                            color: #1393ff;
                        }
                    }
                }
                .menu-ico {
                    padding: 15px 0;
                    & > img:nth-child(1) {
                        margin-left: 20px;
                    }
                    & > img:nth-child(2) {
                        margin-left: 15px;
                    }
                    & > img:nth-child(3) {
                        margin-left: 15px;
                    }
                }
            }
            .tree {
                width: 180px;
                height: 500px;
                background-color: #48463A;
                float: left;
                position: relative;
                border-top: 1px solid #535250;
                ul {
                    width: 100%;
                    li {
                        height: 40px;
                        line-height: 40px;
                        display: inline-block;
                        width: 100%;
                        color: #b4b4b4;
                        border-bottom: 1px solid #535250;
                        span {
                            margin-left: -50px;
                        }
                        .letter-count{
                        	margin:0px;
                        }
                        div {
                            width: 40px;
                            height: 40px;
                        }
                        &:hover {
                            color: #63563c;
                            cursor: pointer;
                            background-color: #cda654;
                        }
                    }
                }
                .stick {
                    height: 39px;
                    width: 3px;
                    position: absolute;
                    background-color: #cda654;
                    top: 0px;
                    left: 0px;
                    transition: top 0.5s;
                    -moz-transition: top 0.5s;
                    -webkit-transition: top 0.5s;
                    -o-transition: top 0.5s;
                }
            }
        }
        .right-container {
            background-color: #fff;
            float: right;
            width: 810px;
            height: 800px;
            padding: 5px 10px;
            box-sizing: border-box;

            .center-wallet{
                background-color:#ebe9e1;
                width: 230px;
                height: 160px;
                position: relative;
                padding: 4px;
                color: #535353;
                font-weight: bold;
                float: left;

                .refresh{
                    position: absolute;
                    right: 3px;
                    top: 4px;
                    cursor: pointer;
                }

                .zxqb{
                    font-size:20px;
                    margin-top: 18px;
                    margin-bottom: 10px;
                    display: inline-block;
                }

                .money{
                    font-size:25px;
                }

                .money-unit{
                    font-size: 15px;
                }

                hr{
                    height: 1px;
                    border: none;
                    border-top: 1px solid #cda654;
                    width: 90%;   
                }

                .button{
                    width: 90px;
                    height: 30px;
                    line-height: 30px;
                    font-size: 15px;
                    border:1px solid #cda654;
                    color: #cda654;
                    display: inline-block;
                    margin-top: 10px;
                    &:hover{
                        color:#fdfbf9;
                        background-color:#cda654;
                    }
                }

                .turn-out{
                    margin-left: 20px;
                }
            }

            .nav-left,.nav-right{
                height: 168px;
                width: 20px;
                margin:0 5px;
                background: rgba(255,255,0,0.6);
                float: left;
            }

            .wallet-zone{
                height: 168px;
                width: 490px;
                background: rgba(255,255,0,0.6);
                float: left;
                padding-left: 2px;
                box-sizing: border-box;

                .wallet-group{
                    height: 100%;
                    width: 120px;
                    margin: 0 1px;
                    float: left;
                }
            }

            .tab-container{
                margin-top: 10px;
                width: 100%;
                height: 450px;
                text-align: left;

                .zjgl-content {
                    border: 1px solid #CDA654;
                    width: 100%;
                    height: 600px;
                }
            }
        }
    }
}
