@import "../mixins.scss";

.route-check {
	@include page-property;

	$baseL                  :    1300;
	$baseWidth              :    1300px;
	$gap                    :    $baseWidth * 25 / $baseL;
	$titleHeight            :    $baseWidth * 100 / $baseL;
	$stickHeight            :    $baseWidth * 35 / $baseL;
	$stickTop               :    ($titleHeight - $stickHeight) / 2;
	$leftWidth              :    $baseWidth * 885 / $baseL;
	$rightWidth             :    $baseWidth * 375 / $baseL;
	$gap2                   :    $baseWidth - $leftWidth - $rightWidth;
	$rowHeight              :    60px;

	.wrapper {
		background-color: rgba(0,0,0,.3);
		position: relative;
		width: $contentWidth;
		min-height: 730px;

		.title {
			height: $titleHeight ;
			line-height: $titleHeight;
			position: relative;
			text-align: left;
			transition: all .5s;

			.text1 {
				color: #FFF;
				display: inline-block;
				font-size: 20px;
				font-weight: bold;
				margin: 0 15px;
			}

			.text2 {
				color: #84827C;
				display: inline-block;
				font-size: 14px;
			}

			.stick {
				background-color: $red;
				height: $stickHeight;
				position: absolute;
				top: $stickTop;
				left: 0;
				width: 3px;
			}
		}

		.content {
			border: 0;
			border-top: 0;
			display: inline-block;
			width: $contentWidth;
			padding-bottom: 20px;

			.left-content {
				display: inline-block;
				vertical-align: top;
				width: $leftWidth;
				transition: all .5s;

				table {
					font-size: 12px;
					width: 100%;

					thead {
						tr {
							background-color: #170F20;
							height: $rowHeight * 2 / 3;
						}
					}

					tbody {
						tr {
							height: $rowHeight;

							ul {
								display: inline-block;

								li {
									background-color: #4d4952;
									border-radius: 50%;
									display: inline-block;
									height: 8px;
									margin-right: 5px;
									width: 8px;
								}

								.active {
									background-color: $green;
								}
							}
						}

						.even {
							background-color: #1A131F;
						}

						.odd {
							background-color: #170F20;
						}
					}

					.td1 {
						color: #AAAAAA;
						text-align: left;
						padding-left: 20px;
						width: 30%;
					}

					.td2 {
						color: #4f4b51;
						text-align: center;
						width: 40%;
					}

					.td3 {
						color: #FFF;
						font-size: 14px;
						width: 30%;

						a {
							cursor: pointer;
							text-decoration: underline;
						}	
					}
				}
			}

			.right-content {
				display: inline-block;
				margin-left: $gap2;
				vertical-align: top;
				width: $rightWidth;
				transition: all .5s;
				text-align: left;

				.title {
					border-bottom: 1px solid $border-color1;
					color: #FFF;
					font-size: 20px;
					font-weight: bold;
					height: 50px;
					line-height: 50px;
				}

				.item {
					margin-top: $gap;

					.subtitle {
						color: #aaaaaa;
						font-size: 14px;
					}

					.text {
						color: $font-color0;
						font-size: 12px;
						height: 30px;
						line-height: 30px;
					}

					ul {
						width: 100%;

						li {
							color: $font-color0;
							font-size: 12px;
							height: 24px;
							line-height: 24px;
							width: 33.33%;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1300px) {
}