@import "../mixins.scss";

.route-check-icon {
	background-image: url("../img/route-check.png");
	cursor: pointer;
	display: inline-block;
	height: $headerRow1Height;
	margin-right: 10px;
}

.notice-icon {
	background-position: -10px -10px;
	height: 18px;
	width: 18px;
	vertical-align: middle;
}

.route-chrome-icon {
	background-position: -85px -9px;
	height: 25px;
	width: 25px;
}

.route-firefox-icon {
	background-position: -125px -9px;
	height: 25px;
	width: 25px;
}

.route-ie-icon {
	background-position: -40px -9px;
	height: 25px;
    width: 30px;
}

.route-check {
	@include page-property;

	$baseL                  :    1300;
	$baseWidth              :    1300px;
	$gap                    :    $baseWidth * 25 / $baseL;
	$titleHeight            :    $baseWidth * 100 / $baseL;
	$stickHeight            :    $baseWidth * 35 / $baseL;
	$stickTop               :    ($titleHeight - $stickHeight) / 2;
	$leftWidth              :    $baseWidth * 885 / $baseL;
	$rightWidth             :    $baseWidth * 375 / $baseL;
	$gap2                   :    $baseWidth - $leftWidth - $rightWidth;
	$rowHeight              :    60px;

	.wrapper {
		background-color: rgba(0,0,0,.3);
		position: relative;
		width: $contentWidth;
		min-height: 730px;

		.title {
			height: $titleHeight ;
			line-height: $titleHeight;
			position: relative;
			text-align: left;
			transition: all .5s;

			.text1 {
				color: #FFF;
				display: inline-block;
				font-size: 18px;
				font-weight: bold;
				margin: 0 15px;
			}

			.text2 {
				color: #84827C;
				display: inline-block;
				font-size: 14px;
			}

			.stick {
				background-color: $red;
				height: $stickHeight;
				position: absolute;
				top: $stickTop;
				left: 0;
				width: 3px;
			}
		}

		.content {
			border: 0;
			border-top: 0;
			display: inline-block;
			width: $contentWidth;
			padding-bottom: 20px;
			text-align: left;

			.left-content {
				display: inline-block;
				vertical-align: top;
				width: $leftWidth;
				transition: all .5s;

				table {
					font-size: 12px;
					width: 100%;

					thead {
						tr {
							background-color: #170F20;
							height: $rowHeight * 2 / 3;
						}
					}

					tbody {
						tr {
							height: $rowHeight;

							ul {
								display: inline-block;

								li {
									background-color: #4d4952;
									border-radius: 50%;
									display: inline-block;
									height: 8px;
									margin-right: 5px;
									width: 8px;
								}

								.active {
									background-color: $green;
								}
							}

							.speed {
							    display: inline-block;
							    width: 70px;
							}
						}

						.even {
							background-color: #211b27;
						}

						.odd {
							background-color: #170F20;
						}
					}

					.td1 {
						color: #AAAAAA;
						text-align: left;
						padding-left: 20px;
						width: 30%;
					}

					.td2 {
						color: #4f4b51;
						text-align: center;
						width: 40%;
					}

					.td3 {
						color: #FFF;
						font-size: 14px;
						width: 30%;
						text-align: center;

						a {
							cursor: pointer;
							text-decoration: underline;
						}	
					}
				}
			}

			.right-content {
				display: inline-block;
				margin-left: $gap2;
				vertical-align: top;
				width: $rightWidth;
				transition: all .5s;
				text-align: left;

				.title {
					border-bottom: 1px solid $border-color1;
					color: #FFF;
					font-size: 18px;
					font-weight: bold;
					height: 50px;
					line-height: 50px;
				}

				.item {
					margin-top: $gap;

					.subtitle {
						color: #aaaaaa;
						font-size: 14px;
						margin-bottom: 5px;
					}

					.text {
						color: #917994;
						font-size: 12px;
						line-height: 30px;
					}

					.collect-site {
						width: 100%;

						li {
							color: #917994;
							font-size: 12px;
							height: 24px;
							line-height: 24px;
						}
					}

					.recommend-browsers {
						margin-top: 15px;
						width: 85%;

						li {
							color: #917994;
							display: inline-block;
							font-size: 12px;
							height: 24px;
							line-height: 24px;
							width: 33.33%;

							&:nth-child(1) {
								text-align: left;
							}

							&:nth-child(2) {
								text-align: center;
							}

							&:nth-child(3) {
								text-align: right;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1300px) {
	.route-check {
		@include page-property;

		$baseL                  :    1300;
		$baseWidth              :    1000px;
		$gap                    :    $baseWidth * 25 / $baseL;
		$titleHeight            :    $baseWidth * 100 / $baseL;
		$stickHeight            :    $baseWidth * 35 / $baseL;
		$stickTop               :    ($titleHeight - $stickHeight) / 2;
		$leftWidth              :    $baseWidth * 885 / $baseL;
		$rightWidth             :    $baseWidth * 375 / $baseL;
		$gap2                   :    $baseWidth - $leftWidth - $rightWidth;
		$rowHeight              :    60px;

		.wrapper {
			width: $contentWidth;

			.title {
				height: $titleHeight ;
				line-height: $titleHeight;

				.stick {
					height: $stickHeight;
					top: $stickTop;
				}
			}

			.content {
				width: $contentWidth;

				.left-content {
					width: $leftWidth;

					table {
						thead {
							tr {
								height: $rowHeight * 2 / 3;
							}
						}

						tbody {
							tr {
								height: $rowHeight;
							}
						}
					}
				}

				.right-content {
					margin-left: $gap2;
					width: $rightWidth;

					.item {
						margin-top: $gap;
					}
				}
			}
		}
	}
}