@import "../mixins.scss";

.sports-competition {
	@include page-property;

	.wrapper {
		padding: 20px;

		.row1 {

		}

		.row2 {
			margin-top: 20px;

			.sbty {
				cursor: pointer;
				display: inline-block;
				width: 50%;
			}

			.threedty {
				cursor: pointer;
				display: inline-block;
				width: 50%;
			}
		}
	}
}