@import "mixins.scss";

body {
	background-color: $purple1;	
}

.app {
	background-image: -webkit-radial-gradient(circle at top, #562d60 35%, #070C12);
	background-image: radial-gradient(circle at top, #562d60 35%, #070C12);
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 14px;

	.header {
		position: static;
		
		.row1 {
			.menu {
				display: none;
			}
		}

		.row2 {
			display: none;
		}
	}

	.help-center {
		@include page-property;
		display: inline-block;
		margin-top: 30px;
		width: 1300px;
		margin: 0 atuo;

		.wrapper{
			padding: 10px 17px;
			width: 100%;

			.tree {
				width: 20%;
				height: 500px;
				background-color: $purple1;
				color: $font-color0;
				float: left;
				position: relative;

				.title{
					height: 50px;
	    			line-height: 50px;
	    			font-size: 20px;
	    			font-weight: bold;
				}

				ul{
					width: 100%;
					border-top: 1px solid $border-color1;
					
					li{
						border-bottom: 1px solid $border-color1;
						cursor: pointer;
						height: 40px;
						line-height: 40px;
						display: inline-block;
						width: 100%;
						
						span {
							margin-left: -50px;
						}

						div {
							width: 40px;
							height: 40px;
						}

						&:hover{
							color: #FFF;
						}
					}

					.selected {
						color: #FFF;
						background-color: #2b1f37;
					}
				}

				.stick {
					height: 39px;
					width: 3px;
					position: absolute;
					background-color: #cda654;
					top: 50px;
					left: 0px;

					transition: top 0.5s;
					-moz-transition: top 0.5s; 
					-webkit-transition: top 0.5s;
					-o-transition: top 0.5s;
				}

			}

			.container{
				width: 75%;
				min-height: 600px;
				background-color: $purple1;
				float: right;
				color: $font-color0;
				padding-bottom: 30px;

				.title{
					height: 50px;
	    			line-height: 50px;
	    			font-size: 20px;
	    			font-weight: bold;
	    			color: #FFF;
	    			text-align: center;
				}

				hr{
					height: 2px;
					border: none;
					border-top: 2px solid $border-color1;
					width: 100%;
				}

				.content-item {
					padding: 20px 40px;
					display: none;
					width: 100%;
					height: 100%;
					text-align: left;
				}

				.aboutus {
					display: block;
					text-indent: 50px;
					line-height: 20px;

					p {
						line-height: 25px;
						margin-top: 20px;
					}
				}

				.contactus{
					p {
						margin: 0 auto;
		    			text-align: left;
		    			text-indent: 0;
		    			line-height: 25px;
					}

					.p1 {
						text-indent: 28px;
					}
					
					.subtile{
					    height: 25px;
					    margin: 20px 10%;
					    text-align: left;
					    border-bottom: 1px solid $border-color1;
						
						span {
							display: inline-block;
						    background: #48463A;
						    width: 90px;
						    height: 25px;
						    line-height: 25px;
						    text-indent: 5px;
						}
					}

					p {
						min-height: 20px;
						margin-top: 10px;
					}
				}

				.deposithelp {
				}

				.withdrawhelp {

				}

				.partner {
					table {
						width: 600px;
						border:1px solid #CCCCCC;
						border-bottom: 0;
						border-right: 0;
						margin: 10px;

						tr {
							height: 30px;

							td {
								border-bottom: 1px solid #CCCCCC;
								border-right: 1px solid #CCCCCC;
							}
						}
					}

					ul {
						margin-top: 20px;
						
						li {
							margin-top: 20px;

							p {
								text-indent: 20px;
							}
						}
					}
				}

				.faq {
					ul {
						margin-left: 30px;

						li {
							margin-bottom: 20px;
						}
					}
				}
			}
		}
	}

	.footer {
		.footer-left {
			.row1 {
				display: none;
			}

			.row2 {
			    height: 50px;
			    line-height: 50px;
			}
		}
	}
}

