$contentWidth              :   1300px;
$headerHeight              :   85px;
$footerHeight              :   100px;

$headerRow1Height          :   40px;
$headerRow2Height          :   60px;
$theme-background-color    :   #170E1F;
$theme-font-color          :   #514859;
$font-color1               :   #52495a;
$font-color2               :   #FFFEFD;
$font-color3               :   #B1A9B8;
$sign-input-border-color   :   #605768;
$green                     :   #26995E;
$purple1                   :   #170E1F;
$purple2                   :   #342840;
$purple3                   :   #2D1837;
$purple4                   :   #28152f;
$purple5                   :   #2B1F36;
$purple6                   :   #241B2F;
$yellow                    :   #988950;
$yellow2                   :   #FFCC00;
$red                       :   #A80B42;
$border-color1             :   #494053;
$header-font-color         :   #B5B3B6;
$footer-background-color   :   #070C12;

$common-icon-top1          :   -10px;
$common-icon-top2          :   -64px;
$common-icon-top3          :   -96px;

$platform-icon-top1        :   -1px;
$platform-icon-top2        :   -140px;

@mixin page-property {
    color: #FFF;
    display: none;
    position: relative;
    width: 100%;
    min-height: 450px;
    margin: 0 auto;

    .page-logo {
        transition: width .5s;
    }

    .wrapper {
        width: $contentWidth;
        transition: width .5s;
    }
}

@mixin tab-page {
    background-color: $purple1;
    display: none;
    height: 100%;
    width: 100%;
    padding: 25px 20px;
    box-sizing: border-box;
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes $animation-name {
        @content;
    }
    @-moz-keyframes $animation-name {
        @content;
    }
    @-o-keyframes $animation-name {
        @content;
    }
    @keyframes $animation-name {
        @content;
    }
}

@mixin animation($animation) {
    animation: $animation;
    -o-animation: $animation;
    -ms-animation: $animation;
    -moz-animation: $animation;
    -webkit-animation: $animation;
}

@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin transform($transforms) {
    transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -moz-transform: $transforms;
    -webkit-transform: $transforms;
}

@mixin border-radius($radius) {
    border-radius: $radius;
    -ms-border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
}

@mixin background-size($size) {
    background-size: $size;
    -o-background-size: $size;
    -moz-background-size: $size;
    -webkit-background-size: $size;
}

@mixin box-shadow($str) {
    -moz-box-shadow: $str;
    -webkit-box-shadow: $str;
    box-shadow: $str;
}

@mixin box-sizing($sizing) {
    box-sizing: $sizing;
    -moz-box-sizing: $sizing;
    -webkit-box-sizing: $sizing;
}

@mixin input-placeholder {
    &::-webkit-input-placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }

    &:-moz-input-placeholder {
        @content;
    }
}

@mixin dialog-frame {
    visibility: hidden;
    opacity: 0;
}

@mixin dialog-wrapper($width, $height: auto) {
    display: block;
    perspective: 1300px;
    transform: translateX(-50%) translateY(-50%);
    position: fixed;
    top: 40%;
    left: 50%;
    width: $width;
    height: $height;
    z-index: 140;
}

@mixin dialog($width, $height) {
    background-color: #FFF;
    border-radius: 5px;
    height: $height;
    margin: 0 auto;
    position: relative;
    width: $width;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}

@mixin im-button($height) {
    height: $height;

    .im-button-wrapper {
        top: (0 - $height*2);

        .im-button-row1 {
            height: $height;
            line-height: $height;
        }

        .im-button-row2 {
            height: $height;
            line-height: $height;
        }

        .im-button-row3 {
            height: $height;
            line-height: $height;
        }
    }

    &:hover {
        .im-button-wrapper {
            top: 0;
        }
    }
}


.clear {
    clear:both; 
    height: 0; 
    line-height: 0; 
    font-size: 0;
}

.fr {  float: right;}

.fl {float: left}

.clearAfter:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
}